[2015-06-28 11:21] naisanza opened #461 "SmartOS services fail to start on boot when set up using static IP in VMplayer"
Setting up a new instance of SmartOS to use DHCP works. Setting up a new instance of SmartOS to use a static address boots with services falling to maintenance mode. This occurs whether the bridged or NAT option is used.

These are the services that end up in maintenance mode:
![svcs-maintenance](https://cloud.githubusercontent.com/assets/1614425/8396082/27ca29da-1d65-11e5-98fb-e5ef4c81152a.PNG)

[2015-06-28 16:38] rmustacc commented on #461
What are the contents of your network-physical service log and the /usbkey/config file?

[2015-06-28 22:21] naisanza commented on #461
@rmustacc here's the network-physical service log and /usbkey/config file

network-physical service log:
[code]

/usbkey/config file:
[code]

[2015-06-29 10:05] bahamat commented on #461
What's the output of `cat $(svcs -L network-physical)`?

[2015-06-29 17:03] lloydde commented on #202
Continue to hit this every few days on my single server testing env.

[2015-06-30 20:12] naisanza commented on #456
@davefinster Thank you! and thank you everyone that's helped me on this question

[2015-06-30 20:12] #456 closed

[2015-07-01 05:23] rmustacc commented on #461
@naisanza we'll need the actual service log, which is what @bahamat is referring to. In addition just getting the dladm show-phys output will help.

I'd suggest rigging up the serial console to making copying and pasting easier. Alternatively, you can always go ahead and manually bring up an IP address using one of ifconfig or ipadm and manually launch sshd.

[2015-07-02 07:50] naisanza commented on #461
@bahamas10 @rmustacc here's the network/physical service log and `dladm show-phys` output

[code]
`dladm show-phys` output:
![show-phys](https://cloud.githubusercontent.com/assets/1614425/8472213/48be4116-206d-11e5-947a-cf49e02ffec5.PNG)

[2015-07-02 07:57] naisanza commented on #461
After a few trial and errors. This happens when you give the config more than one default DNS search domains (e.g. primary and secondary dns search domains), or more than one domain name during the configuration process. This didn't occur when setting up using dhcp, because the information was pulled from the dhcp server, and it only used one dns search domain.

![multiple-default-dns-serach-domai

[2015-07-03 02:51] #461 closed

[2015-07-06 07:32] naisanza commented on #319
@bahamat thanks!

[2015-07-07 16:52] bcantrill commented on #346
Picking up this old thread...

Thanks to tireless work bisecting platforms by Joyent's Richard Bradley, we
were able to get this problem isolated, reproduced, root-caused and fixed
-- the fix for which I just pushed to illumos-kvm:

https://github.com/joyent/illumos-kvm/commit/1c86987b648614df50d511c4e4c5dc018f4ec2f3

This will be available in Thursday's SmartOS release; please let us know if
you

[2015-07-07 16:54] #346 closed

[2015-07-07 17:05] rmustacc commented on #450
Looking at the latest versions of SmartOS I'm seeing the native /usr/bin/curl properly using TLS v1.2. If we're seeing additional issues here, can you reopen this @chrisridd?

[2015-07-07 17:05] #450 closed

[2015-07-07 18:12] xmerlin commented on #346
thank you very much ...I'll stress test this release to give you a good feedback

[2015-07-07 20:40] matthiasg commented on #346
Was this issue actually ever related to many reboots at all as described in the issue title? We have had a few unexplained kvm stops recently but those were rather fresh installs...

-----Original Message-----
From: "Christian Zoffoli" <notifications@github.com>
Sent: ‎07.‎07.‎2015 20:12
To: "joyent/smartos-live" <smartos-live@noreply.github.com>
Cc: "matthiasg" <mgt576@gmail.com>
Subject: Re: [sm

[2015-07-07 21:47] bassu commented on #346
@matthiasg Affirmative in my case. VMs in my env are rebooted only if the OS reboots.

[2015-07-17 08:40] unclejack commented on #202
I'm seeing this as well.

[2015-07-22 06:57] GernotS opened #462 "zpool import fails when sharesmb is used"
after commit 2e6fe72e3970158e9dc71dd4ba3d21630c39067c zpool Import -f zones errors out is there is a FS shared using sharesmb=on

[2015-07-22 07:03] trentm commented on #462
c.f. https://smartos.org/bugview/OS-4524 (the ticket for the breaking commit)

[2015-07-23 19:37] sjorge commented on #202
Been seeing this on and off, happening a lot the last few weeks.

[2015-07-24 12:34] nshalman opened #463 "ship vioif"
Now that 3644/4945 has landed upstream and been merged, we should ship vioif.

I'll open the PRs against both joyent/smartos-live and joyent/illumos-joyent using this issue ID.

[2015-07-24 12:41] nshalman commented on #463
Looks like Jerry is taking care of this. I'll close this out when I confirm it's all working.

[2015-07-24 13:18] sjorge commented on #453
Options is an array so use: "options": [ "ro" ], works fine for me.

[2015-07-24 13:20] sjorge opened #464 "support for ipv6 on admin_nic"
In addition to #231 support in the gz for the admin and external nics to have ipv6 addresses and gateway+ dns would be awesome.

[2015-07-24 13:23] sjorge opened #465 "allow admin_nic to have a tagged vlan"
admin_nic and external_nic should ideally be treated the same.

Currently external_nic can take a vlan and it will create a vnic over whatever interface _nic points to with the vlan set.
admin_nic should be treated the same way resulting in a vnic with an optional vlan set.

[2015-07-24 13:28] konobi commented on #465
We're very picky about the admin_nic being totally separate. If you need to have the admin_nic on a vlan, I suggest that you put the switch port into access mode for the vlan id in question.

[2015-07-24 13:31] nshalman commented on #463
@jjelinek do we not also need an entry in name_to_major like I have in:
https://github.com/nshalman/smartos-live/commit/068a2d754ce51442cf6a0736833e9995b8ecbc51

[2015-07-24 13:32] sjorge commented on #465
Fair enough, I will close this and stick my current (hacky) setup.

For anyone looking through the archive.
setup admin_nic completely static, have a custom smf scrip that discards the config and setup a vnic and configure the address on there. 'IT MOSTLY WORKS TM'

[2015-07-24 13:32] #465 closed

[2015-07-24 13:41] jjelinek commented on #463
Yes, thanks for noticing and sorry I missed that. I'll add it now.

[2015-07-24 13:46] nshalman commented on #463
@jjelinek thanks for taking care of all of this. One less feature I need to maintain in downstream branches.

[2015-07-24 13:46] #463 closed

[2015-07-24 13:47] nshalman commented on #463
Closed by
https://github.com/joyent/illumos-joyent/commit/7be989b3b3d0affc5705ea8b81d4b84ec65d8246
https://github.com/joyent/smartos-live/commit/baabce45af9f329c8547a16d9fc9f68c355e0db2
https://github.com/joyent/smartos-live/commit/54205ce0b7648680e67af00d48add32badad8cb2

[2015-07-24 17:56] sjorge commented on #465
FYI, I tried it again the 'correct' way.
trunk0 untagged -> vlan 30
trunk0 tagged -> vlan 10, vlan 20, vlan 40

It resulted in some weird in.ndpd behavior, currently back to my hack that does:
[code]

[2015-07-25 20:56] xen0l commented on #391
@rmustacc  This has been fixed and can be closed.

[2015-07-25 20:57] #305 closed

[2015-07-28 07:22] sjorge commented on #333
Was any agreement reached on what the correct behavior should be?

[2015-07-29 06:57] bahamat commented on #333
@sjorge adding an additional default route with vmadm will leave the system with an ambiguous routing table, with neither consistently preferred since neither metric nor preference are exposed. This might not be an issue for you, but it's worth noting.

In the past when unable to change the actual default gateway on a host, I've worked around this by adding two routes: `0.0.0.0/1` and `128.0.0.0/1

[2015-07-29 07:00] sjorge commented on #333
Alright, I guess the vmadm validate will need to be changed to reject those types of routes like vmadm create currently does.

[2015-07-29 15:24] rmustacc commented on #333
The behavior of multiple equally weighted routes is defined in illumos. There's no need to specifically say you shouldn't be able to do it. So I still stand by past me saying that it should be accepted.

[2015-07-29 16:30] bahamat commented on #333
I didn't say it was undefined, just that neither would be consistently preferred. As I under stand it (explained by @jclulow), flows will round-robin between equal routes. This is often not expected or desirable.

If the intent is to provide an alternate or more preferred default gateway, adding two `/1`s is an effective way of doing that.

[2015-07-31 16:37] krzaczek opened #466 "lx brand: /dev/log: Function not implemented"
Hi,

I'm having problem with rsyslogd and the ability to log to sysylog through /dev/log. It seems it's not working properly.

[code]

SmartOS SunOS salak 5.11 joyent_20150723T072528Z i86pc i386 i86pc

Checked both lx-debian lx-ubuntu
a21a64a0-0809-11e5-a64f-ff80e8e8086f  lx-ubuntu-14.04  20150601  other    2015-06-01T02:55:17Z
a781a350-07f4-11e5-9372-5f2886027fbc  lx-debian-7      20150601  other

[2015-07-31 18:04] lloydde commented on #466
Looks like this could relate to https://smartos.org/bugview/OS-3189

[2015-07-31 20:02] lloydde commented on #466
@pfmooney corrected me, we have special handling in LX for /dev/log. He has isolated the issue, and it's being tracked in https://smartos.org/bugview/OS-4586 .

Thank you @krzaczek for reporting this! It sounds like we'll have a reviewed fix in the next week.

[2015-07-31 20:29] pfmooney commented on #466
This should be fixed in joyent/illumos-joyent@2a4baf9fe8cd0e7d7ba626c12c42f3afedc59e1b

Thanks

[2015-07-31 20:29] #466 closed

[2015-07-31 22:12] krzaczek commented on #466
Perfect :D

pawel (at) mobile

[2015-08-02 09:40] sjorge opened #467 "Feature Req: possibility to have more swap devices and to exclude zones/swap"
I'm pretty sure it will be rejected but I'll open it anyway. (If nobody is against the idea I will try to get a PR for this, given most PR's die a silent death I want to be sure if it has a chance of getting accepted before spending hours on this)

Currently this is possible by using https://github.com/sjorge/asmd but I prefer to do away with that eventually. (Yes the obvious answer is to buy bigg

[2015-08-05 13:31] bapt commented on #120
Usually applications accepts both HTTP_PROXY and http_proxy. imgadm only supports lower case. Would be nice to also accept upper case version

[2015-08-06 21:03] sjorge opened #468 "fwadm does not allow for rules containing IPv6 IP's"

[2015-08-07 14:32] natefoo opened #469 "ZFS Delegated Permissions for receiving streams are not working in recentish builds"
I am attempting to use `zfs allow` to delegate non-root users as `zfs receive` targets for a backup system. Under 20141212T011737Z this works as expected:

[code]

But on 20150528T153328Z, the final step fails:

[code]

Thinking that additional privileges may be required in newer versions, I tried giving the user all privileges listed under the `zfs allow` section of `zfs(1m)` to test, but that ma

[2015-08-07 14:50] rmustacc commented on #469
@jjelinek can you take a look at this? This seems to be due to the fact that we introduced the PRIV_SYS_FS_IMPORT privilege.

[2015-08-07 14:59] bapt opened #470 "process_manifest_line_file() does not correctly report an invalid line"
Hi

Once I manage to build the world, when I run gmake live, I end up with mancheck command segfaulting:
https://people.freebsd.org/~bapt/core.mancheck.85911

I have an overlday where the mancheck.conf is an empty file

Here is the backtrace:

[code]

[2015-08-07 15:03] rmustacc commented on #470
@jclulow can you take a look at this?

[2015-08-07 15:54] natefoo commented on #469
I can confirm that the issue identified by @rmustacc is the problem. If I grant `sys_fs_import` to the user, it is able to `zfs receive`.

[2015-08-07 20:59] arekinath commented on #470
This is also easily reproduceable using any invalid manifest file -- I've seen it by accidentally forgetting to leave a newline at the end of a project manifest, then when the manifests are cat'd together two lines end up on one and it doesn't parse.

[2015-08-08 02:26] jclulow commented on #470
@bapt I'll fix the bug.  Please also note that you can [provide an empty target](https://github.com/joyent/mdata-client/blob/master/Makefile#L126-L128) in your `Makefile`, rather than generating an empty file, e.g.:

[code]

[2015-08-08 02:35] jclulow commented on #470
Also, @bapt, I get a 403 error when trying to download the core file.  Can you make it available again, please?

[2015-08-08 11:19] bapt commented on #470
@jclulow link fixe

[2015-08-08 13:10] sjorge opened #471 "imgadm manpages do not mention '-j' argument to output json"

[2015-08-09 07:09] sjorge opened #472 "imgadm vacuum has stray '1'"
[code]
It's always there, not sure why.

[2015-08-11 11:50] krzaczek commented on #466
I can confirm it works on
joyent_20150806T063417Z

[2015-08-11 18:20] lloydde commented on #466
Thanks @kevinykchan for verifying resolved!

[2015-08-13 09:18] krzaczek opened #473 "lx brand: syslog: log as non root user"
Hi,

SunOS salak 5.11 joyent_20150806T063417Z i86pc i386 i86pc
Instance (Debian 7 lx-brand 20150601)

I'm having problems logging to syslog by a non root user. The latest fix for syslog #466 fixed the ability to log to syslog ... and everything works perfect as long as i;m logged as root.

So simple test with a logger utility
[code]
but ...
[code]
doesn't log anything to /var/log/syslog

I found t

[2015-08-15 00:15] naisanza commented on #203
+1

[2015-08-15 18:56] sjorge commented on #431
@calmh have you tried:
[code]

Or better yet, since in.ndpd will also be running:
[code]

This will make the static IP the prefered one to be used for outgoing traffic.

[2015-08-15 22:45] calmh commented on #431
Indeed I have, as noted above. :)

I'm not sure if this issue should be left as is as a reminder to make this more intuitive (perhaps as part of the ever missing support for v6 provisioning in vmadm) or closed as it's possible to hack around with the proper incantations...

[2015-08-15 23:01] melloc commented on #431
You can leave this open. I'm currently working on IPv6 support for SmartOS, and will be moving onto lx-brand support once I wrap up smartos zones. If you're interested, I can upload some SmartOS and SDC test images later, once I'm at a computer. :)

[2015-08-15 23:43] jasonwilliams200OK opened #476 "Hyper-V support: it works but.."
There are at least two issues (tested on Hyper-V, Windows 10):

1. When the machine starts (regardless of before or after the OS installation), it shows an IDE warning and hangs for 10-20 minutes then continues normally. This happens 8 out of 10 times. Rarely, it promptly continues. I am not sure what to make of it..
2. The network card configuration failed me. I read at least 5 blogs and all the

[2015-08-16 03:33] melloc commented on #431
I've uploaded builds for [SmartOS](http://us-east.manta.joyent.com/cody.mello/public/builds/OS-2994/platform-OS-2994-usb.bz2) and [SDC](http://us-east.manta.joyent.com/cody.mello/public/builds/OS-2994/sdc-usb-OS-2994.tgz). vmadm(1m) has a section on nics.*.ips, which describes how to use multiple IP addresses and IPv6 SLAAC/DHCPv6. I'm still working on static gateways, but specifying IPv6 addresse

[2015-08-16 05:12] sjorge commented on #431
ipadm form /native also works, FYI

~ sjorge

[2015-08-16 20:19] rmustacc commented on #476
@jasonwilliams200OK what's the warning that the IDE controller is issuing? What device is Hyper-V emulating in this case? Regarding the networking level issues, is that a hyper-v level issue or is it a configuration issue in SmartOS?

[2015-08-17 08:44] danielpo commented on #431
Hello,

I have tried everything in this thread, but i always get "operation not supported" when trying to ping my default gw:
# ping6 2001:470:dd04:1::1
WARNING: your kernel is veeery old. No problems.
PING 2001:470:dd04:1::1(2001:470:dd04:1::1) 56 data bytes
ping: recvmsg: Operation not supported

It happens both with slaac and static ip, i have tried both "allow_ip_spoofing": true,
 and to speci

[2015-08-17 09:57] tgerczei opened #477 "zfs: zpool import panics the system (20150806T063417Z)"
Hey,

As mentioned to @rmustacc on IRC, I have a RAIDZ-1 pool of 3 HDDs with log and cache devices on 2 additional SSDs - all on the same SATA controller. This kept working for almost 3 years in a row and I kept booting new platforms every month or so at the latest. This one last time I replaced one HDD of 3 in a powered-down state because the disk signaled SMART errors so I wanted to resilver the

[2015-08-17 20:42] jasonwilliams200OK commented on #476
@rmustacc,

Here it is:

![blah](https://cloud.githubusercontent.com/assets/2031765/9315391/a63cabd6-4537-11e5-87c9-01e750d5cf75.PNG)

It is something called `IDE Controller 0` in Hyper-V jargon. Here is the screenshot of my settings window:

![image](https://cloud.githubusercontent.com/assets/2031765/9315717/7621f94a-4539-11e5-9ef1-907ffdb3380b.png)

I am not sure. I have FreeBSD 10.2 ([configure

[2015-08-18 16:12] pfmooney commented on #473
This was filed as [OS-4638](https://smartos.org/bugview/OS-4638) and remedied in joyent/illumos-joyent@29170abe7b69701c0f95839235131541fd3fb2e5

Thanks

[2015-08-18 16:12] #473 closed

[2015-08-19 19:22] bahamas10 commented on #472
Filed https://smartos.org/bugview/OS-4661
Fixed https://github.com/joyent/smartos-live/commit/c8101cdce7656d1d22d5471b8129c0dd6ec45850

[2015-08-19 19:22] #472 closed

[2015-08-19 23:13] naisanza opened #478 "Adding invalid nictag still adds it to /usbkey/config file on SmartOS 20150625T055522Z"
When adding an invalid nic tag it displays `Error 1` saying it was invalid, however it still adds it to `/usbkey/config`. While it's in `/usbkey/config` it show's `Error 2`. Removing the nic tag from the config file restores functionalities.

Error 1:
[code]
Error 2:
[code]

[2015-08-21 06:44] krzaczek commented on #473
Works like a charm in joyent_20150820T062742Z

Thanks @pfmooney

[2015-08-23 23:21] bahamat commented on #231
See also #431.

[2015-08-24 07:11] sjorge opened #479 "vmadm.1m.md lists 'console' not to be working for LX zones"
Seems to work fine for me on newish platforms.
I guess this depends on the image if there is something running on the console or not.

[2015-08-24 17:21] sjorge opened #480 "vmadm delete-snapshot is broken"
Replicate:
- create new zone (simple one based on base64 will do)
- create a snapshot
- delete the snapshot.

`/usr/sbin/vmadm get ca045587-8ae1-4a35-bf8f-26b31abba53a`

[code]

`/usr/sbin/vmadm delete-snapshot ca045587-8ae1-4a35-bf8f-26b31abba53a hello`
`Command failed: umount: warning: /zones/ca045587-8ae1-4a35-bf8f-26b31abba53a/root//checkpoints/hello not in mnttab
umount: /zones/ca045587-8ae1-

[2015-08-24 17:22] sjorge commented on #480
Same effect when the zone is running

[2015-08-24 17:25] sjorge commented on #480
Figured out the problem: I create the test snapshot before I started the zone for the first time!

[2015-08-26 21:39] wiedi commented on #431
@melloc just experimented a bit with your builds - very cool!

I like the idea of nics.*.ips - it solves this issue very elegantly.

The man-page paragraph regarding KVM was not clear to me at first until I read that this deprecates nics.*.ip. Maybe this could be reworded a bit (Maybe state that for KVM only one entry in the form of an IPv4 address or "dhcp" is supported?).

A few observations:

-

[2015-08-27 05:58] sjorge commented on #431
I suspect
  * the spoofing protection prevents using "addrconf" addresses that get configured with SLAAC (DHCPv6 works of course). This could be mentioned in the man page.

May be related to the inet6 ::/0, addrconf behaves weirdly when it can't do all the stuff it needed.
While poking the gz for my PR I somehow ended up with it configuring inet ::/0 + a subnet that was my prefix without any route

[2015-08-27 09:14] wiedi commented on #431
`uts/common/io/mac/mac_protect.c` currently only implements learning of DHCPv6 configured addresses. I am unsure if SLAAC addresses are not supported for a security reason or because simply no one has done it yet.

[2015-08-28 13:26] bahamat commented on #431
Fixing SLAAC is http://smartos.org/bugview/OS-4667.

[2015-08-30 10:02] xen0l opened #481 "vmamd dies from EADDRINSUE when multiple VMs define same vnc_port"
I have a SmartOS host, which I am using for building custom VM images in an automated fashion. What I didn't realize was that some hosts had the same vnc_port defined. When I booted the first VM, everything was OK. However, booting the second VM caused EADDRINUSE as vmadmd tries to bind to the port and dies as the port is being used. SMF tries to bring it online, but vmadm dies until it is moved i

[2015-08-30 18:30] madsmith commented on #235
Sorry to drag up old news, but what was the solution for this issue?  I'm having a similar problem where my zone is basically running but just sits there claiming it's waiting for provisioning.

[2015-08-30 18:50] bahamat commented on #235
In my case, it was that the dhcp server was not responding to requests from new hosts.

Run `snoop` from the global zone to see if `DHCPOFFER`s are being sent from your dhcp server. If the dhcp server is functioning properly you should see them.

[2015-08-30 23:05] ssinyagin commented on #290
I encountered the same problem, and it appears as follows: if the computer has Serial-over-LAN (mine has Intel AMT SOL), the Illumos kernel takes it as the console, no matter what you have in your Grub command line. So, I attached a null-modem to the COM1 port, and then booted with "variable os_console ttyd" (I had to try all ttya to ttyd, and the last one appeared to be working). Then the SmartOS

[2015-08-30 23:36] ssinyagin commented on #290
more precisely, if IPMI serial-over-lan is supported by the system (even if it's disabled), the kernel insists on not using the VGA console. It forces to use a serial console only, and you have a choice of ttya...ttyd.

[2015-08-31 00:42] jclulow commented on #290
@ssinyagin, that definitely isn't how the system works.  If you have passed `console=text` on the kernel command-line (using GRUB, iPXE, or some other multiboot loader) it will use the VGA console as the primary system console.  If your system has any serial ports, you _can_ use them with `console=ttya` or similar.  Note that `COM1` is generally known as `ttya`, not `ttyd`, so I suspect something

[2015-08-31 00:59] #470 closed

[2015-08-31 05:45] ssinyagin commented on #290
@jclulow I thought so too, but found someone's comment about this behavior, and can't find it again.

This is HP dc7800p workstation, and it was previously running Debian. I have also an HP DL320 G5 server which showed similar behavior, and I ended up instaloing Debian on it. but I'll try to reproduce this workaround on that too.

I'm using smartos-20150820T062742Z.

The PC has Intel ME chip, and

[2015-08-31 06:52] ssinyagin commented on #290
I tried to enable Intel AMT and configured the management IP address, but SmartOS doesn't boot at all, and there's not even GRUB screen. Amtterm tool connects to the serial console, but there's no output.

[2015-08-31 16:44] melloc commented on #431
@wiedi Thanks for trying out the images and for the feedback!

I'll touch up that paragraph and try to make it clearer. Regarding the other points:

I'll change this. It should be possible to have an IPv6 only instance.

The all-zero IPv4 address is probably an interface trying to do DHCP. I've filed a bug for this, and hope to fix it this week:

https://smartos.org/bugview/OS-4683

Does the inter

[2015-09-01 20:49] wiedi commented on #431
while the all-zero ipv6 address indeed has the ADDRCONF flag the all-zero ipv4 does not show DHCP.
In my tests it did not matter if ipv6 router advertisements or ipv4 dhcp were actually offered.

[2015-09-01 20:49] ikozhukhov opened #482 "vmadm: add example with how to add lofs mount"
will be better to have real example with : how to add lofs mount to zone
and setup it by vmadm config with new mount or update existent

[2015-09-04 22:16] bahamas10 commented on #36
[code]

verified, will look into this

[2015-09-04 22:21] bahamas10 commented on #36
Filed https://smartos.org/bugview/OS-4709
fix here http://us-east.manta.joyent.com/bahamas10/public/webrev/OS-4709/index.html

will test and push if everything works

[2015-09-04 23:52] bahamas10 commented on #478
`nictagadm(1M)` got an overhaul recently (https://github.com/joyent/smartos-live/commit/4690126f6bd092a1306168f0fa302c8b259d8d08)

Try building a new platform or using 20150903T073920Z to see if it solves the issue... it looks like the periods are causing an issue.

[2015-09-04 23:54] bahamas10 commented on #459
#439 was merged today.. if that fixes this issue feel free to close it, thanks.

[2015-09-05 00:04] bahamas10 commented on #390
verified this is still an issue... `validate` expects `"limit_priv"` to be an array... even though the documentation says it supports a string separated by commas

[2015-09-05 00:17] bahamas10 commented on #187
Is this issue still relevant?

[2015-09-05 00:18] bahamas10 commented on #90
is this the same as https://github.com/joyent/smartos-live/issues/36 ?

[2015-09-05 14:21] bahamas10 commented on #460
thanks! I agree this would be an awesome feature to have.

mirrored issue here https://smartos.org/bugview/OS-4712

webrev: http://us-east.manta.joyent.com/bahamas10/public/webrev/OS-4712/index.html

[code]

[code]

[2015-09-05 23:51] bahamas10 commented on #129
@MerlinDMC ^ same question as #130 ... still relevant?

[2015-09-05 23:54] bahamas10 commented on #211
@brdloush is this still an issue?

[2015-09-05 23:58] bahamas10 commented on #206
@asonge can we close this issue if it is no longer reproducible?

[2015-09-06 00:04] asonge commented on #206
Yes

[2015-09-06 00:05] bahamas10 commented on #206
great, thanks!

[2015-09-06 00:05] #206 closed

[2015-09-06 00:11] bahamas10 commented on #163
[code]

is this still the case?

[2015-09-06 06:40] #129 closed

[2015-09-11 04:01] rzezeski commented on #460
@bahamas10 The webrev for OS-4712 looks good.

[2015-09-15 22:06] melloc commented on #231
Closed by 837b134, which adds support for IPv6 and multiple IPs to vmadm and SmartOS zones.

For those using IP spoofing protection, there are two issues worth mentioning here:

- [OS-4667](https://smartos.org/bugview/OS-4667), which currently prevents using SLAAC addresses from within a zone. DHCPv6 addresses work fine, though.
- [OS-4683](https://smartos.org/bugview/OS-4683), which currently pre

[2015-09-15 22:06] #231 closed

[2015-09-15 22:32] wiedi commented on #231
fantastic, thanks so much! :)

[2015-09-21 19:00] garethhowell opened #483 "'vmadm validate create' fails with fs_allowed property statement"
Using joyent_20150820T062742Z
passing a json file including the fs_allowed property, causes vmadm validate create to report a bad_values error. The same json validates if the fs_allowed property is missing.
However
Passing the json (with fs_allowed) to 'vmadm create' results in the creation of a zone.

Example json
[code]

Results in

[code]

[2015-09-23 17:55] bahamas10 commented on #460
@rzezeski updated in https://github.com/joyent/smartos-live/commit/01e23ba911ffb3e57c4538fa97ec55424583d244

[2015-09-23 17:55] #460 closed

[2015-09-25 17:06] failedrequest opened #484 "installer creates invalid dump zvol, prevents system boot"
The current code for smartos_prompt_config.sh in the function create_dump fails to set the dump zvol to a size suitable for dumpadm to work with.  As a result svc:/system/filesystem/smartdc:default fails to start yells about this.

 svc:/system/filesystem/smartdc:default (Joyent file system mounts)
  See: /etc/svc/volatile/system-filesystem-smartdc:default.log
 + zpool set feature@multi_vdev_crash

[2015-09-25 18:06] nshalman commented on #484
In conversation on IRC @rmustacc's response to my suggestion of using the code from [joysetup.sh#L361-375](https://github.com/joyent/sdc-headnode/blob/89e7d2dc747a68e85d9f2aee5202cada44cdae03/scripts/joysetup.sh#L361-L375),  was: "Probably something like that, though constraining it based on some amount of available disk as well for smartos."

[2015-09-25 19:27] failedrequest commented on #484
I would say rather then waste the disk space make the cap 32G for now or 33% the ram .

[2015-09-28 08:29] naisanza commented on #276
+1

[2015-09-28 14:26] stevenwilliamson opened #485 "Kernel Panic caused by GP fault when a disk was pulled that was not been used."
Server panicked when a drive was pulled. The drive that was pulled had failed some time earlier. A new disk was inserted in to a spare bay and a "zpool replace" was used to replace the drive.

So when the drive was pulled from the server it was no longer part of the zones pool.

Below is some data from an mdb session. If required i could upload the coredump so Joyent have access.

[code]

Looking

[2015-09-29 07:32] sjorge opened #486 "validate create gives incorrect bad_value"
My build env was hosed so I was creating a new one using the new base image and noticed this:

[code]

[code]

vmadm create works fine for this json file.

[2015-09-30 00:42] dietsche commented on #202
same here:

[2015-09-30 20:29] failedrequest commented on #484
All
 I reviewed the issue on a fresh install. This is what the installer errors out with on the latest platform image 20150929T222233Z

<pre>
Creating pool zones...                                  done
Making dump zvol...                                     dumpadm: dump device /dev/zvol/dsk/zones/dump is too small to hold a system dump
dump size 5715423232 bytes, device size 4294967296 bytes
</p

[2015-09-30 21:35] rmustacc commented on #485
Thanks for reporting this.

The kernel type for a mutex isn't a mutex_t, but is actually a kmutex_t. However, mdb also has a built in dcmd, so you should be able to take that address you have for a lock and run `::mutex` on it, which will tell you more information about it. Though the spa_name member looks a little suspect there. What it be possible to make the dump available, we should be able to

[2015-09-30 22:06] rmustacc commented on #485
From consulting with some folks in #illumos, it appears that this is the same issue as discussed in this thread: http://comments.gmane.org/gmane.os.illumos.devel/21354

[2015-09-30 22:43] jurajlutter commented on #486
Also adding a "routes" gives:
{
  "bad_values": [],
  "bad_properties": [
    "routes"
  ]
}

[2015-10-05 21:34] bahamas10 commented on #202
fixed!

https://smartos.org/bugview/OS-4813
https://github.com/joyent/smartos-live/commit/f5bd628

[2015-10-05 21:34] #202 closed

[2015-10-05 22:04] lloydde commented on #202
@bahamas10 You are gold!

[2015-10-06 18:47] naisanza commented on #315
Shouldn't vmadm find the gateway from the nic_tag? Or I wonder if it will work if you set "gateway" to "dhcp"?

[2015-10-06 20:54] stevenwilliamson commented on #485
OK ::whatis on the spa_t only yields:
ffffff4447a3e9e0 is freed from anon_cache

I'm guessing this means another kernel thread freed the memory.

Running ::mutex on the mutex that we panicked on shows

            ADDR  TYPE             HELD MINSPL OLDSPL WAITERS
ffffff4447a3f0e0 adapt 1fffffe888f47000      -      -      no

But im guessing this is just old state given the spa_t has been freed and

[2015-10-07 05:59] melloc commented on #483
Fixed in e0e5732c.

[2015-10-07 05:59] #483 closed

[2015-10-07 15:39] stevenwilliamson opened #489 "cpu_shares / cpu_cap are not always live updating."
VMADM(1M) states that cpu_cap and cpu_shares should be live updating, however this does not always appear to be the case.

For example look at the below session:

[code]

shares is still the default and no cpu cap is set.

If i stop/start the zone it does then have the correct cpu-shares and cpu-cap (checked with prctl)

The above example is a KVM zone for clarification i have seen the same behavi

[2015-10-08 18:19] leecallen commented on #380
I observed this problem on 2015-10/8 using:
SmartOS: joyent_20150528T153328Z
Image: a21a64a0-0809-11e5-a64f-ff80e8e8086f (lx-ubuntu-14.04           20150601)
Portion of JSON file:
  "resolvers": ["192.168.0.1"],
  "nics": [
    {
      "nic_tag": "admin",
      "ip": "192.168.0.118",
      "netmask": "255.255.255.0",
      "gateway": "192.168.0.1",
      "primary": true
    }
  ],

[2015-10-08 19:24] pfmooney commented on #380
Issues with resolv.conf are commonly associated with old PIs and images.
It's worth updating both to see if that solves the issue.

[2015-10-08 19:24] #380 closed

[2015-10-08 20:07] leecallen commented on #380
yes, updating the PI and using a newer ubuntu LX image solved the problem.

[2015-10-14 00:07] melloc commented on #464
Resolved by 0494fec. Work done by @sjorge in #475.

[2015-10-14 00:07] #464 closed

[2015-10-14 00:12] melloc commented on #431
Resolved by joyent/illumos-joyent@632f82b. As mentioned in #231, [OS-4667](https://smartos.org/bugview/OS-4667) and [OS-4683](https://smartos.org/bugview/OS-4683) may affect those using IP spoofing protection until they are resolved.

[2015-10-14 00:12] #431 closed

[2015-10-14 04:37] naterator commented on #430
I just encountered this issue and was in the zone root of the VM I was destroying as @joshwilsdon mentioned:

[code]

I moved to `/root` and `vmadm` began to work as expected.

[2015-10-14 05:44] j4s0nmchr1st0s commented on #430
Where can the beta be found?

On 10/13/15, Nate Schmoll <notifications@github.com> wrote:

[2015-10-15 05:12] jcroix opened #490 "max_user_watches cannot be changed in Linux LX zone"
I discovered this when attempting to install CrashPlan in a Ubuntu LX zone in SmartOS. I received a message saying that the default value of 8192 should be increased, and the web page associated with this message indicated that a substantial increase might be called for (see http://support.code42.com/CrashPlan/Latest/Troubleshooting/Linux_Real-Time_File_Watching_Errors). Unfortunately, as I discov

[2015-10-15 15:34] sjorge opened #491 "vmadm validate create does not like nowait"
[code]
[root@core /opt/config]# cat opnsense.json-expr
{
  "brand": "kvm",
  "hostname": "opnsense.acheron.be",
  "alias": "opnsense",
  "autoboot": false,
  "archive_on_delete": false,
  "nowait": false,
  "cpu_shares": 80,
  "cpu_cap": 200,
  "cpu_type": "host",
  "vcpus": "2",
  "ram": 1024,
  "zfs_io_priority": 80,
  "vnc_port": 2,
  "nics": [
    {
      "model": "virtio",
      "nic_tag": "e

[2015-10-15 15:36] sjorge opened #492 "vmadm get 'ip' and 'netmask' fields in additions to the 'ips' field."
[code]

This zone was create before the switch to ips, if that matters or no.

[2015-10-15 16:51] rmustacc commented on #492
@sjorge The older fields are retained in the vmadm get output by design. This is to allow consumers that only ever knew about and used a single IP address and ip/netmask to continue to function without modification.

[2015-10-15 17:13] sjorge commented on #492
Makes sense, is there a deprecation date set?

[2015-10-15 17:14] rmustacc commented on #492
No, I don't think there are any plans to remove them at this time. @melloc and @joshwilsdon might have a better answer.

[2015-10-15 17:20] melloc commented on #492
@sjorge no date has been set yet, but it will probably be at least a year or two. For now, they've been marked deprecated in the manual page.

[2015-10-15 17:22] sjorge commented on #492
Thanks for the info

[2015-10-15 17:22] #492 closed

[2015-10-16 01:00] nshalman opened #493 "On upgrade to 20151015T063628Z KVM VM failed to boot (NIC definition was missing the "ips" property)"
(upgrading from 20150905T134251Z)

I had set autoboot=false on all of my KVM VMs. All my other zones appear to have booted just fine (and been updated?)

I tried to boot my main KVM VM and vmadm dumped core after squeaking out:
[code]

As a workaround I manually edited the /etc/zones/uuid.xml for the VM and just below:
[code]
I added:
[code]
Which allowed that VM to boot.

[2015-10-16 01:40] rmustacc commented on #493
@nshalman Is it possible to provide what the VM used to look like by chance?

@melloc Can you take a look at this?

[2015-10-16 01:50] nshalman commented on #493
@rmustacc I'm not clear on what you want. Do you want the XML file content or the ```vmadm get``` output or what? I suspect @melloc will be able to reproduce it pretty easily, but am happy to provide whatever additional information I can that will be helpful.

[2015-10-16 01:53] nshalman commented on #493
I had a second VM that was failing in the same way. Adding in the extra line (the "ips" line) fixed it, and removing the extra line broke it again.

So perhaps two issues:
1. Some zone config files aren't getting upgraded.
2. Un-upgraded zone config files make vmadm dump core.

[2015-10-16 04:19] rmustacc commented on #493
@nshalman In this case can you provide the core file and the xml output?

[2015-10-16 04:21] melloc commented on #493
@nshalman It looks like your `gateway` value is set to `dhcp`, which is probably preventing the upgrade. If you remove that line and restart `vmadmd`, it should upgrade correctly. I'm guessing it's dumping core because some path is expecting the upgrade to have happened successfully. Can you share the core file? I'll harden vmadm to handle the upgrade failure better.

[2015-10-16 04:26] melloc commented on #493
@nshalman You might also be able to take a look at vmadmd's logs (`svcs -L vmadmd`) to get a better idea of why they're not getting upgraded.

[2015-10-16 08:25] sjorge commented on #493
FWIW I didn't have this issue with my 2 kvm zones, but they both run with a static IP/no gateway set.

[2015-10-16 13:56] nshalman commented on #493
I have a core file if it's still desired. Find me on IRC and I'll send it along.

Looks like it's sad about ```"netmask":"dhcp"```:
[code]

Here's the XML of a "broken" VM (MAC address altered because I'm paranoid like that):
[code]

From some manual testing it looks like removing *both* the ```gateway``` and ```netmask``` lines is required to allow the configuration to be upgraded correctly.

And

[2015-10-18 18:15] krzaczek opened #494 "kernel data corruption induced by "mdb -kw""
After upgrading SmartOS to the latest release 20151001T070028Z and 20151015T063628Z my servers started to randomly reboot with this message

`
2015-10-18T19:53:37.201626+02:00 smartos3 savecore: [ID 570001 auth.error] reboot after panic: BAD TRAP: type=e (#pf Page fault) rp=ffffff007bef8a30 addr=400001c8 occurred in module "unix" due to an illegal access to a user address
`

Core dumps
- smartos3.

[2015-10-19 00:43] rmustacc commented on #494
Thank you for reporting this and sorry about the trouble that you're having with the system. I grabbed this first one and it looks like the stack was:

[code]

Do all of your dumps have a similar stack trace? You can get the stack trace by running savecore -vf on a `vmdump.<num>` file and then running `mdb -e '$C' <num>` which will print a stack back trace.

In addition, do you recall what release

[2015-10-19 07:34] krzaczek commented on #494
Upgraded from 20141225T170427Z

[2015-10-19 07:37] krzaczek commented on #494
`
smartos5.z

ffffff007b965b50 mutex_enter+0xb()
ffffff007b965b80 kmem_cache_reap_now+0x18(40000000)
ffffff007b965bb0 arc_kmem_reap_now+0x53()
ffffff007b965c20 arc_reclaim_thread+0x21a()
ffffff007b965c30 thread_start+8()
`

`
smartos7.z

ffffff001f16ab50 mutex_enter+0xb()
ffffff001f16ab80 kmem_cache_reap_now+0x18(40000000)
ffffff001f16abb0 arc_kmem_reap_now+0x53()
ffffff001f16ac20 arc_reclaim_thre

[2015-10-19 15:24] bdha opened #497 "imgadm is impacted on systems with many snapshots"
`imgadm` does not differentiate between pools attached to a system (ie, `-r zones`), and can be negatively impacted on systems with many snaps.

However, even `zones` pools with many snapshots will cause issues. I saw this behavior with differing severities on several systems which only have the support local `zones` pool before sending mail to the list.

[code]

Cause determined by @pfmooney.

(T

[2015-10-19 17:00] jacques commented on #497
Duplicate of #200

[2015-10-19 17:02] bdha commented on #497
@jacques Sort of. I don't get a buffer error, it's "just slow."

[2015-10-20 14:48] krzaczek commented on #494
It look's like it has something to do with RAM and ARC. Ram usage keeps raising and as soon it reaches almost 100% server reboots. At the same time ARC is rising too. See screenshots

![ram](https://www.dropbox.com/s/9ke1g87cqv4lzpa/Zrzut%20ekranu%202015-10-20%2016.44.54.png?dl=1)

![arc](https://www.dropbox.com/s/itrvebxx0i9wta9/Zrzut%20ekranu%202015-10-20%2016.44.49.png?dl=1)

[2015-10-20 15:30] krzaczek commented on #494
I have limited the amount arc that can be used to 4GB ... will see who it behaves in the next 24h

[code]

[2015-10-20 17:50] nshalman opened #498 "Want a boot option to boot to single-user milestone"
Need to figure out a good name so that users won't be confused, but it might be nice to have a boot option that adds ```-m milestone=single-user``` to the kernel command line.

Could be something like "SmartOS single-user (no zones booted)" but I'm not totally sold on that.

The idea comes from a user on IRC reporting that a machine is unresponsive after booting and the user suspects too many VMs

[2015-10-20 19:47] rmustacc commented on #494
If it's possible, on a server that you've just booted up and already seen this, can you run the following two commands in mdb -k:

[code]

This will help us bifurcate the problem.

[2015-10-21 07:37] krzaczek commented on #494
[code]

[2015-10-21 11:30] bcantrill commented on #494
In the dump that you uploaded, we are seeing corruption in the middle of the `zio_buf_cache` array -- which is unexpected given that it isn't written to after system initialization. What makes it very odd is that you seem to have seen multiple dumps (on multiple machines) with the same corruption.  We were hoping that the corruption was happening before ARC-induced kmem reclaim occurred, but your

[2015-10-21 11:32] krzaczek commented on #494
I will upload all the dump do s3 and let You know when they are available

[2015-10-21 11:42] krzaczek commented on #494
@bcantrill 0xf or 0x1f ?

[2015-10-21 12:07] krzaczek commented on #494
I also have a server running smartso5.z that returns some results for zio_buf_cache,8000/Kna ! grep 000000

It's benn up for 1 day
[code]

[2015-10-21 12:11] bcantrill commented on #494
Yow -- that's the same corruption pattern seen in the dump; very, very strange!  At this point, would definitely want a machine running with `kmem_flags` set.  In terms of `0xf` vs. `0x1f` for `kmem_flags`, it doesn't matter; `0xf` is fine.

[2015-10-21 12:12] krzaczek commented on #494
I have rebooted one server woth kmem_flags. If it fails .. I'll let You know

[2015-10-21 13:11] krzaczek commented on #494
This is without `kmem_flags`

[smartos5.z](https://s3.amazonaws.com/freshmind.other/smartos/smartos5.z/vmdump.2)
[smartos7.z](https://s3.amazonaws.com/freshmind.other/smartos/smartos7.z/vmdump.5)

[2015-10-21 15:09] bcantrill commented on #494
So we now have dumps from three different nodes (`smartos3.z`, `smartos5.z` and `smartos7.z`) running (interestingly!) three different platforms (`joyent_20151015T063628Z`, `joyent_20151001T070028Z` and `joyent_20141225T170427Z`, respectively) -- all of which exhibit the same kind of corruption in the `zio_buf_cache` (at offset `0x38e0`, `0x38e0` and `0x3920`, respectively).  That these are three

[2015-10-21 15:17] krzaczek commented on #494
I may have dumps from smartos5.z ... smartos7.z has a small hard drive so I had to remove them ... but I will post any new dumps before deleting them.

[2015-10-21 15:21] krzaczek commented on #494
I have 2 more dumps from smartos3.z .... but vmdump.1 is a rally old crash from 06.2014 ... so it's probably not related.

[code]

[code]

[2015-10-21 15:22] krzaczek commented on #494
I'll upload vmdump.2 in the evening (Poland time) :)

[2015-10-21 15:45] bcantrill commented on #494
Yes, `vmdump.1` is a dup of OS-2596, fixed almost exactly two years ago. ;)  Too bad about the other dumps from `smartos7.z`; those were of particular interest because they are on the older platform. Looking forward to the other dump from `smartos3.z`, though I don't honestly expect it to contain many surprises; it likely has the same mysterious corruption at approximately the same location.  Stil

[2015-10-21 15:48] bcantrill commented on #494
Somehow in all of the updates, I missed your earlier update about the script that uses `mdb -kw` to dynamically modify the ARC variables!  That is absolutely the source of the corruption here; root cause to come...

[2015-10-21 16:07] bcantrill commented on #494
Is the script mentioned above running multiple times? Are there other scripts that are executing `mdb -kw`?  When is the script being run?  On the one hand, I don't see off-hand how the quoted elements can be inducing the problem as seen -- but on the other, there are way too many coincidences to discount (namely, the values being written match the corruption, and that the destination addresses fo

[2015-10-21 16:32] krzaczek commented on #494
So the script is run one time at boot by a custom smf. Example from smartos7.z

/opt/custom/smf/custom-boot.xml
[code]

/opt/custom/bin/custom_boot.sh
[code]

It is supposed to be run only one time .. but I may have run it multiple times in a past few days .. when the problem started to occur, and I wanted to modify the arc

[2015-10-21 17:21] krzaczek commented on #494
Added some more dumps in [one](494#issue-112033229) place at top of the page

[2015-10-22 07:06] tgerczei commented on #477
Thanks to George Wilson (for forensics and manual pool import) and @nshalman (for advice on replacing files in a platform image)  I've managed to salvage my data from this broken pool. One dataset in particular has become corrupted by the L2ARC bug, so anything that tried to access the entirety of metadata panicked the node. I'll be rebuilding the pool and hopefully the root cause gets addressed u

[2015-10-22 07:06] #477 closed

[2015-10-22 14:17] krzaczek commented on #494
Just to keep You up to date, both `smartso3.z` and `smartos7.z` (running with `kmem_flags = 0xf`) are up and running without any corruption in `zio_buf_cache` for over 24h now

[2015-10-22 15:40] bcantrill commented on #494
At this point, it seems very likely that the corruption was induced by `mdb -kw` activity, though the specific mechanics are still unclear.  To facilitate understanding this, I have added logging to the kernel on every write to `/dev/kmem` in OS-4869; recommend running this fix once it's available and then running the new `::kmemlog` debugger command to determine the source of this corruption.

[2015-10-22 23:41] melloc commented on #493
Resolved by 42a6ad0. Upgrading to the next release shouldn't have this issue.

[2015-10-22 23:41] #493 closed

[2015-10-23 14:02] krzaczek commented on #494
I'll upgrade as soon as a new version is available

[2015-10-24 19:58] jclulow commented on #484
Merged.

[2015-10-24 19:58] #484 closed

[2015-10-25 03:47] arekinath opened #499 "smartos_prompt_config connectivity checks are kinda useless"
Currently smartos_prompt_config does some helpful connectivity checks on the DNS and NTP servers you enter. However, if the connectivity checks fail, you do not get a chance to revisit them and correct your dodgy typo, instead you just get UNREACHABLE followed by the installer soldiering on.

Also, the NTP connectivity check timeout seems to be ~5 *minutes*, and waiting for it while staring at you

[2015-10-27 14:55] kfr- opened #500 "smartos 20150917T232817Z unable to import zones from 20130503T001121Z"
Upgrading from 20130503T001121Z to 20150917T232817Z

20150917T232817Z is unable to read the zones zpool that was previously mounted on 20130503T001121Z

zpool import does not return the zones pool but it does return older unused pools created under snc_134b

20130503T001121Z has the following features:
async_destroy                         (read-only compatible)
     Destroy filesystems asynchrono

[2015-10-28 18:08] jclulow commented on #500
What is the pool topology? (`zpool status`)

What disks do you have in the system? (`diskinfo`)

[2015-10-28 19:46] kfr- commented on #500
zpool status
  pool: vpool
 state: DEGRADED
status: One or more devices could not be opened.  Sufficient replicas exist for
        the pool to continue functioning in a degraded state.
action: Attach the missing device and online it using 'zpool online'.
   see: http://illumos.org/msg/ZFS-8000-2Q
  scan: none requested
config:

        NAME                       STATE     READ WRITE CKSUM

[2015-10-28 19:46] kfr- commented on #500
vpool is no longer used... I should destroy it.

[2015-10-28 20:29] jsonn opened #501 "Log file spamming from in.ndpd"
In one of my  15.2 based zones I see a lot of entries like
[code]
in the dmesg. I don't see it in the other zones. IPv6 configuration is using addrconf only, no manual entries. Problem persists over restart of the zone.

[2015-10-28 21:18] melloc commented on #501
Do you have static IPv4 addresses on these zones? When I revisited the zones of mine that had these in these logs I realized that they were experiencing [OS-4683](https://smartos.org/bugview/OS-4683), and setting "allow_ip_spoofing" to true fixed the issue. If this is also the case for you, switching from static IPv4 addresses to DHCP, adding the SLAAC addresses to "allowed_ips", or disabling IP s

[2015-10-28 23:25] joshwilsdon commented on #489
Which platform was this running?

[2015-10-30 15:05] sjorge opened #502 "possible error in identity-node"
https://github.com/joyent/smartos-live/blob/master/overlay/generic/lib/svc/method/identity-node#L116

Not sure shcat is a command, man or just trying to run it on a compute nodes does nothing.

[2015-10-30 16:59] tomww commented on #65
Does a more current SmartOS version allow raw disks without patching?

I would highly appreciate if this patch could be updated to work with a end-2015 SmartOS version.
The *js scripts have change too much since 2012 as the above would be a quick task for me.

As the files reside on the ramdisk, I would patch in the changed with a SMF startscript at boot time.

Thanks for having a look into this.

[2015-10-30 18:38] melloc commented on #501
@jsonn Can you confirm if you have static IPv4? If it's something else, I'll have to play around w/ this further to see if I can reproduce the bug.

[2015-10-30 21:47] rmustacc commented on #502
Certainly looks suspicious, is it generating an error or is the identity-node service not working correctly?

[2015-10-30 22:51] jclulow commented on #502
So, `shcat` comes from [/lib/svc/share/net_include.sh][1] on the system, which is shipped from illumos.

[1]: https://github.com/joyent/illumos-joyent/blob/master/usr/src/cmd/svc/shell/net_include.sh#L37-L48

[2015-10-30 23:01] sjorge commented on #502
Learned something new today :) thanks @jclulow will close it, as it is not causing errors.

@rmustacc nope but was looking at expanding some of the ip6 support (e.g. update /etc/hosts with the ip6 addres for example) and ran into this... trying to understand what does what and couldn't figure out this shcat :)

[2015-10-30 23:01] #502 closed

[2015-11-01 15:42] jsonn commented on #501
Sorry, been traveling. I have two entries in "ips", a static IPv4 address and "addrconf".

[2015-11-03 11:41] stevenwilliamson commented on #489
Build stamp 20150622T171240Z details below. (Built off a custom branch but only changes to the installer)

Im just rolling out a build from latest release, so i'll repeat the tests on the latest release.

[code]

[2015-11-03 12:55] stevenwilliamson commented on #485
Just had another crash looks like a repeat of this issue. Disk was pulled and system crashed.

[code]

[code]

[code]

Crashed due to null pointer, %r12 = 0 so we try to access memory address 0x38.

Tying this up with the code in vdec_disk.c it looks like this is because the dvd pointer is null/incorrect.
We crash setting dvd->vd_ldi_offline = B_TRUE

[code]

dvd is a vdev_tsd grabbed from a vdev_

[2015-11-03 23:53] stevenwilliamson opened #504 "zones with vrrp vnics broken since commit for OS-2994 and OS-4582"
Zones that have a VRRP NIC fail to start on releases after the above commits were merged. The zone fails to start and the physical net SMF services are left in maint:

[code]

The problem was introduced in commit 837b13405c6e871699999565a02e33ac0a8ba075

Calls to `ifconfig plumb` were replaced to a function call `plumbif`

The function plumbif always appends `up` for an interface plumb. When we do

[2015-11-04 19:04] melloc commented on #500
Hi @kfr- , we discovered a bug Monday ([OS-4866](https://smartos.org/bugview/OS-4866)) when upgrading some systems from 2013 platforms, and have backported a patch to 20151029. I'm currently building new ISO/USB images which will be finished in ~3 hours, but the platform build is done and has the patch. I don't know what the status of your upgrade is, but you'll want to make sure you redownload an

[2015-11-04 19:09] kfr- commented on #500
@melloc OS-4866 doesn't sound like th bug i'm running into.

The zones pool isn't available when we upgrade to a newer smartos.

[2015-11-04 19:41] melloc commented on #500
@kfr- , no, it isn't. Just wanted to warn you since you said you were moving from a 2013 platform to 20150917 which does have OS-4866.

[2015-11-05 00:59] melloc commented on #504
I've filed [OS-4933](https://smartos.org/bugview/OS-4933) for this issue. I have a fix for this, but haven't done much testing for it yet. I'll update this issue once it's been tested and pushed.

[2015-11-05 18:42] stevenwilliamson opened #505 "svccfg cleanup removes SMF services that are needed to boot a zone"
The commit for this Illumos bug https://www.illumos.org/issues/1565 has the knock on affect that `svccfg cleanup` (undocumented in the man page) will remove SMF services that are required for a zone to boot.

It seems svccfg cleanup always used to stop at the first error which has previously been an error about duplicate definitions:

[code]

Since the fix however svccfg cleanup no longer exits at

[2015-11-06 10:14] jperkin opened #506 "New installer breaks VMware boot media"
Booting a VMware Fusion image since the integration of the new installer (i.e. <https://us-east.manta.joyent.com/Joyent_Dev/public/SmartOS/smartos-latest.vmwarevm.tar.bz2>) will result in an un-bootable install, unless the user takes careful steps to amend the default zpool layout.

The problem is that the installer picks the boot media as a valid install target, so if the user accepts the default

[2015-11-06 11:09] jperkin commented on #505
A fix for this:

[code]

Loopback mounting the fixed file over the top, then restarting the `svc:/system/zones:default` service, results in a cleanup operation on a freshly installed zone working correctly:

[code]

Interestingly the `joyent-minimal` brand already enables `boot-archive`, so that doesn't need fixing.

It may be worth reviewing all of the other services that are being deleted to see

[2015-11-06 11:14] jperkin commented on #505
Sorry, bad choice of wording in the last paragraph, 'enabled' should instead read 'imported'.  Whether the services are enabled or disabled is somewhat irrelevant, but the brand manifest and the base image `repository.db` should be in sync as to what is imported.

[2015-11-06 14:06] nshalman commented on #506
Alternate possible fix: use the CD image rather than the USB image as the boot media.

[2015-11-06 14:16] nshalman commented on #505
@jperkin Is joyent/imagetools#2 relevant for this?

[2015-11-06 17:00] nshalman commented on #506
If we're lucky, in theory we just need to alter these two lines very slightly:
https://github.com/joyent/smartos-live/blob/master/tools/SmartOS.vmwarevm/SmartOS.vmx#L63-L64

[2015-11-06 17:51] joshwilsdon commented on #505
Is there a reason not to remove the dependency on boot-archive here instead of adding it to the brand's manifest list? As far as I'm aware there's no value to having this service in a zone and quite possibly no reason to have it in the GZ either on SmartOS.

[2015-11-06 17:58] kfr- commented on #500
@melloc I upgraded one of our servers from 20141212 to 20151104 without issue.

So it seems that my zfs zones issue doesn't apply for 20141212 to 20151104

This weekend i'm going to upgrade a server from 20140221 to 20151104

[2015-11-07 19:18] stevenwilliamson commented on #505
boot-archive does nothing in a zone, and isn't needed on SmartOS GZ since it is read only.
Removing the dependency on system/boot-archive from system/filesystem/usr would be ideal, and iv'e tested a zone boots fine with this dep removed.

However im not sure how you would manage this transition, how would you ensure any already provisioned zones have the SMF repository updated to remove this depen

[2015-11-10 15:05] rmustacc opened #507 "whitespace around nic tags configuration causes problems"
If trailing white space ends up around a nic tag's configuration, that ends up throwing off the rest of the shell scripts and causing trouble. We should instead trim the whitespace from there to ensure that a trailing space doesn't wreak such havoc in the future.

[2015-11-10 15:33] rmustacc commented on #485
@jclulow Could you take a look at this in the context of other ZFS hotplug restructuring that we've done?

[2015-11-11 08:33] xen0l opened #508 "zonememstat: errors when using pmap on KVM zones"
When using zonememstat's p option on KVM zones, the output is as follow:
[code]
I am not sure what is the correct solution, but I thought of following:

* make /proc available in KVM zones, but I don't think there is a big added value (and it would also need to be mounted before qemu starts)
* omit KVM zones while running zonestat with "-p"
* hide error

If the second and third options are conside

[2015-11-11 08:35] xen0l opened #509 "zonemestat: add info about swap"
zonememstat should include information about swap and swapcap as well. Should it be done in a way of extending the normal output or introduce a new flag, which will print swap-related information?

[2015-11-12 17:25] sjorge opened #510 "vm/node_modules/VM.js may have a code error"
src/vm/node_modules/VM.js#L5943
[code]
should probably be:
[code]

Although only add_filesystems seem to be implemented.

[2015-11-12 17:44] sjorge opened #511 "remove_nics is broken on latest platform image"
```SunOS core 5.11 joyent_20151104T185720Z i86pc i386 i86pc```

[code]
[code]

[code]
[code]

[2015-11-12 21:54] bdha opened #512 "nictagadm documented help flags throw errors"
[code]

Documented as:

[code]

[2015-11-12 22:00] pfmooney commented on #512
Open as [OS-4945](https://smartos.org/bugview/OS-4945)

[2015-11-13 11:09] GernotS commented on #443
Now that we have SMB2 I would really love to have this working in a zone. Any updates or workarounds ?

[2015-11-13 11:33] sjorge commented on #443
I went back to samba 4.3.1 as this is working great for me.

[2015-11-14 11:57] sjorge commented on #511
still present on joyent_20151112T052215Z

[2015-11-14 20:56] peteryorke commented on #511
It not working on the Joyent Public Cloud either with 'sdc-nics delete nic_mac  machine_id' that requires an operator reboot to recover the zone

[2015-11-14 20:57] melloc commented on #511
Hey @sjorge ,

I have a fix for this that will be in the next release. For now, you should be able to do the following:

- Assign the other NIC as primary
- Delete the NIC you want to delete

[2015-11-14 20:58] sjorge commented on #511
The nic I want(ed) to delete was the non primary

[2015-11-14 20:59] melloc commented on #511
@peteryorke , could you give me more details (or point me at a ticket w/ them)?

[2015-11-14 21:04] melloc commented on #511
Hmmm, in that case you can assign a non-empty "ips" to the one you're not deleting, delete the NIC, then assign an empty "ips".

[2015-11-14 21:07] sjorge commented on #511
For now my work around was to zfs send the delegated dataset, recreate without the nic and zfs recv the dataset...

[2015-11-14 21:51] peteryorke commented on #511
Cody,

ZD 187121 happened after removing a private nic.

Before that, I just fixed my own zones, but did file an internal JIRA on it
in July

It's been inconsistent since writing this article
https://help.joyent.com/entries/70407430-Self-service-nics-for-Virtual-Instances

Peter

On Sat, Nov 14, 2015 at 12:59 PM, Cody Mello <notifications@github.com>
wrote:

[2015-11-14 22:13] melloc commented on #511
Since July? This sounds like a separate issue then, since this bug was introduced in 20150917. Do you have the internal JIRA bug number?

[2015-11-14 23:43] peteryorke commented on #511
Not anymore, I no longer work for Joyent.

On Sat, Nov 14, 2015 at 2:13 PM, Cody Mello <notifications@github.com>
wrote:

[2015-11-15 05:10] ismell commented on #443
I kinda got it: https://github.com/ismell/smartos-live/commit/3ee9e801dcd56dee2ca19e8b34cc71da67a22d70

[code]

[code]

Add a dataset:

[code]

[code]

I think this code might need some tweeking: https://github.com/illumos/illumos-gate/blob/e9316f7696401f3e5e263a5939031cb8d5641a88/usr/src/lib/libzfs/common/libzfs_dataset.c#L1184

[2015-11-15 10:09] sjorge commented on #443
be careful with adding dataset's though. If you delete the zone the datasets go with it.

[2015-11-15 18:03] ismell commented on #443
I was under the assumption that a dataset was required so sharesmb could be set. Is there a different way to configure the cifs server?

[2015-11-15 18:06] sjorge commented on #443
There a different command to add shares... the name escapes me.
I think ```shareall``` or something like that.

[2015-11-16 19:16] sjorge commented on #511
I am confused... I tested it on joyent_20151030T184221Z also when playing with the addrconf bits.
I had the error.... on freshly created zones I do not have the error *shurgs*

Something fishy is happening but no idea what.

[2015-11-17 06:45] GernotS commented on #443
With sjorge´s platform.xml + manifest.xml,  ismell´s "set limitpriv=default,sys_smb" and gwr´s post at
http://www.listbox.com/member/archive/182179/2015/04/sort/time_rev/page/4/entry/7:552/20150428134823:C190ED2C-EDCE-11E4-98D2-8987C5A0D07F/ regarding sharectl I was able to succeed finally.
Now on to some testing.

[2015-11-17 10:33] sjorge commented on #443
I'm building and image with these changes backed into it now, anybody want to test? Once it is done building.

If it works I will open a PR.

[2015-11-17 14:27] GernotS commented on #443
I definitely want!
Dont forget to set casesensitivity=mixed  on the delegated dataset. I learned the hard way.

[2015-11-17 14:38] sjorge commented on #443
@GernotS I just updated the post above

[2015-11-17 20:15] sjorge commented on #443
with @rmustacc patches:
[code]

[code]

[code]

[2015-11-18 16:18] rmustacc commented on #443
This should be resolved via https://github.com/joyent/smartos-live/pull/513.

[2015-11-18 16:18] #443 closed

[2015-11-18 18:01] cmacrae opened #514 "'hostname' and 'dns_domain' are not honered in LX zones when defined in JSON provisioning payload"
When provisioning an LX branded zone (from any of the available LX images on the official Joyent dataset repository), attempts to set `hostname` and `dns_domain` seem to fail.

Here's an example payload:
[code]

The above payload provisions an Ubuntu 15.04 zone.
When operating from this zone's shell, issuing `hostname` returns the intended `test`, but checking the FQDN with `hostname -f` simply re

[2015-11-18 18:02] rmustacc commented on #514
@chorrell can you take a look at this and let us know if this is something that needs to be rigged up as part of the image or if this is something that lx needs to be explicitly doing in the brand set up hooks?

[2015-11-19 04:24] gsadams commented on #505
Thank you for finally debugging this! I've been hitting my head against this for a couple weeks, now. It seems to hit me in any zone in which I `svccfg import` a new SMF manifest. That zone will then be dead as soon as it (or its host) tries to reboot. I've had to reprovision some of my zones a lot.

The workaround of patching `/usr/lib/brand/joyent/manifests` appears to fix the problem completely

[2015-11-19 05:46] jclulow commented on #505
@gsadams I just had this happen to me on my machine.  I'll be taking a look at it tomorrow.  Apologies for the failure, and we should have it fixed soon.

[2015-11-19 07:05] jclulow commented on #505
This issue is now reflected in [OS-4920](https://smartos.org/bugview/OS-4920).

[2015-11-19 15:17] chorrell commented on #514
Hi,

Yes, this is something that needs to be implemented in the images via the guest tools.

There's an open issue about hostname: https://github.com/joyent/sdc-vmtools-lx-brand/issues/6

Currently, there is some support for setting resolvers in lx-brand, not dns_domain.

https://github.com/joyent/illumos-joyent/blob/master/usr/src/lib/brand/lx/zone/lx_boot_zone_ubuntu.ksh#L33

The ability to set

[2015-11-19 15:17] chorrell commented on #514
dns_domain issue: https://github.com/joyent/sdc-vmtools-lx-brand/issues/16

[2015-11-19 17:45] gsadams commented on #505
Excellent. I'll look forward to it, and keep the lofs-patch fix in place my my hosts until then. Thanks!

[2015-11-22 19:17] vizanto opened #515 "Patched ELF binary runs on Linux, immediately crashes on lx-zone"
Tried running `java` on a lx-branded NixOS zone today, instead got `Segmentation Fault`.

The Nix package manager patches the RPATH to point directly to all dependencies. This allows for example to have multiple glibc installed without conflicts.

### Discussion on #smartos resulted in this:
dtrace and stuff:
https://gist.github.com/vizanto/b03afde562f650391169

### OpenJDK binary from NixOS

Can

[2015-11-23 13:08] cmacrae commented on #514
Thanks @chorrell :+1:

[2015-11-23 19:39] bahamas10 commented on #512
interesting... they are not mentioned in the source code... though i agree they would be good options to have

[2015-11-23 19:39] bahamas10 commented on #512
@pfmooney https://smartos.org/bugview/OS-4946 is the ticket... i'll take a look at it

[2015-11-23 19:53] bahamas10 commented on #512
done https://github.com/joyent/smartos-live/commit/6df49a7

thanks!

[2015-11-23 19:53] #512 closed

[2015-11-25 12:09] matthiasg opened #516 "Latest VMWare image stuck in GRUB after setup"
We just downloaded the most recent smartos vmware live image and started it in vmware player. The setup walks us through (nice improvements there) so we can setup networking etc. and formatting the 20GB drive with default settings. In the end it prompts us to reboot.

After the reboot we dont get the normal Grub Menu, but instead are placed inside the GRUB shell and we dont really know what to do

[2015-11-25 12:18] jperkin commented on #516
This is a duplicate of #506.  I'll close this one, feel free to subscribe to #506 to track progress on this issue there.  Thanks.

[2015-11-25 12:18] #516 closed

[2015-11-25 12:20] matthiasg commented on #516
thanks .. i didnt see that other issue (was searching for GRUB in github)

[2015-11-25 12:52] matthiasg commented on #506
alternatively you can choose 'manual' at the zpool setup step and write

`zpool create zones c0t1d0`
`exit`

and then continue.

[2015-11-25 21:03] sjorge opened #517 "[cosmetic] zpool history poluted"
I was looking at the history of one of my older pools and noticed a lot of entries were from the times SmartOS gets booted (about 2-3x month for me as I try to keep up with PI's)

[code]

The set one can probably be dropped if there is a zpool get done first (does not show up in history). Seems this is also done for zpools kept back at version 28, which of course has no effect on those either.

[2015-11-26 14:03] sjorge commented on #511
Seems gone in 20151126T062747Z, at least for new create zones. Will mark it as closed for now.

[2015-11-26 14:03] #511 closed

[2015-11-27 05:54] jclulow commented on #505
The fix ([OS-4920](https://smartos.org/bugview/OS-4920)) should now be available in SmartOS build `20151126T062747Z`.

[2015-11-27 05:54] #505 closed

[2015-11-27 19:46] sjorge opened #518 "[feature] starting zones without networking"
It would be very nice to be able to start a zone (native + lx) without networking.

This without removing the nics in the config, just bring up the zone, not add the nics and also skip the corresponding bits inside the zones.

This can be useful for troubleshooting or investigating a zone without it having the ability to connect or get connected too.

The more I think about it the more I'd want bu

[2015-11-30 10:02] stevenwilliamson commented on #504
@melloc any update on this, anything I can help test.

[2015-11-30 17:36] bahamas10 commented on #499
agreed. sometimes i will install SmartOS without networking, but know that once it's done and racked it'll have everything it needs.

Simply a lower timeout would be great here

[2015-11-30 19:31] failedrequest opened #519 "Swap setup in smartos_prompt_config.sh fails in some cases"
Swap setup in smartos_prompt_config.sh fails in some cases

In fresh installs of  joyent_20151126T062747Z smartos can not get the proper value from SYSINFO_MiB_of_Memory .

Here is the output from the install log
<code>
[2015-11-30T17:43:34Z] /dev/console: /smartdc/lib/smartos_prompt_config.sh:864: setup_datasets(): zfs create -V mb zones/swap
[2015-11-30T17:43:34Z] /dev/console: /smartdc/lib/smar

[2015-11-30 20:50] vizanto commented on #515
Fix will be useful for nix built docker images.
( https://github.com/NixOS/nixpkgs/pull/11156 )

[2015-11-30 21:07] rmustacc commented on #519
Can you provide a bit more information about why we can't get this value? What are the edge conditions that you mention in the pull request?

[2015-11-30 21:57] failedrequest commented on #519
Robert, this is showing up on fresh install of 20151126T062747Z on  HP ML10 servers with 16Gb of ram . They are pxe booted using the normal iPXE setup noted in the smartos wiki. It looks like in the install where `size=${SYSINFO_MiB_of_Memory} ` that the assignment fails .

Here is the output from the installer.

<pre>
NTP server: 0.smartos.pool.ntp.org

Is this correct, proceed with installation?

[2015-11-30 22:14] rmustacc commented on #519
But if you look at the logs you'll also see that we assign it as part of loading sysinfo (see line 49 of your pastebin). So before we try and grab it out of sysinfo again we need to understand why it was lost in the first place. The current proposal feels like we're working around the bug rather than understanding why we lost the definition. We need to understand that before we fix it.

[2015-12-01 21:09] bahamat opened #522 "joyent-minimal brand documentation example import uses wrong location."
The example has:

Which should be:

[2015-12-01 21:23] bahamat commented on #522
Filed internally as OS-4990.

[2015-12-01 21:51] failedrequest commented on #519
Robert
 As noted in my pull request this is caused by quoting the boot_args values when pxe booting.
So if you have in ipxe set boot_args "-v -B smartos=YES,console=ttya,stuff=good,rootshadow='sjsjs'"
the extra quotes cause the installer to go haywire. This can be closed.

[2015-12-02 06:22] rmustacc commented on #519
Thanks for digging into this. However, rather than close this, we should probably make the system more resilient to this particular failure mode. I'll update the synopsis to indicate this.

[2015-12-02 21:26] failedrequest opened #524 "[BUG] tail and /system/boot/etc/ do not mix well"
When using the custom file override on joyent_20151126T062747Z . You can not use the tail command for files mounted out of bootfs.

 For example in this grub config we load a ixgbe.conf off the usb stick and drop into the bootfs
<pre>
title Live 64-bit (text)
   kernel /platform/i86pc/kernel/amd64/unix -B console=text,smartos=true
   module /platform/i86pc/amd64/boot_archive type=rootfs name=ramdi

[2015-12-03 01:59] melloc commented on #504
I haven't had a chance to test out VRRP NICs, but I've been using the following build with the changes I made while doing some other work, so they work with standard NICs, and should fix the issue with VRRP:

https://us-east.manta.joyent.com/cody.mello/public/builds/OS-4993/platform-20151202T171655Z.tgz
https://us-east.manta.joyent.com/cody.mello/public/builds/OS-4993/platform-20151202T171655Z.usb

[2015-12-03 05:54] joshwilsdon commented on #489
If you get a chance to test on a newer platform, please let me know. I believe this should have been fixed with 4fa8151dbe03fe6b6566ce2ece55d2db7f36ca2b.

[2015-12-03 10:07] kelewind opened #525 "vmadm receive option other zpool"
Please add the possibility in the command vmadm receive. migrate virtual machines to other than the default zpool (like, for example, vmadm import -P zpool name)

[2015-12-03 18:58] rmustacc commented on #524
Thanks for reporting this. Resolved in https://github.com/joyent/illumos-joyent/commit/4835b08dae80825afdd06b0ac9db9d458c935dee.

[2015-12-03 18:58] #524 closed

[2015-12-05 08:16] stevenwilliamson commented on #489
As can be seen in the examples below it appears to be working for OS zones but not KVM zones. I'm not sure why as KVM zones are OS zones for the purposes of setting resource controls.

I wont have time to debug further this coming week but will get round to it.

[code]

Does however work for OS zones

[code]

[2015-12-07 17:29] bcantrill commented on #515
This has been fixed as OS-5015 -- thank you for reporting it!

[2015-12-07 17:29] #515 closed

[2015-12-08 21:25] jritorto commented on #506
`zpool create zones c0t1d0` worked for me; thanks.

[2015-12-09 15:47] bcantrill commented on #494
Any update on this? Did you get the opportunity to upgrade and run the `::kmemlog` mdb dcmd?

[2015-12-09 16:00] krzaczek commented on #494
Yes I did .. but could not make any server to crash .. so I think at the moment we can close this issue.
If it crashes again I'll open a new ticket and reference this one.

[2015-12-11 11:10] vizanto commented on #515
Indeed works in SmartOS 20151210T194528Z,  thanks!

[2015-12-11 17:21] stevenwilliamson commented on #504
@melloc no such luck im afraid it still fails.

However to make it work is a simple patch.

[code]

The issue is that addrtype is actually set to "vrrp," due the read call that populates the variable splitting on ":" it picks some junk from the /etc/hostname.iface file notably a comma.

In ksh it seems != is a pattern match not a regexp so the above fails and we try to setup the VRRP nic. So chang

[2015-12-11 18:41] melloc commented on #504
Thanks for testing! I've also updated line 787. I'll put these changes in the next release.

[2015-12-12 16:00] vizanto opened #526 "[LX] busybox Segmentation Fault"
[code]

Binary and core dump, here:  http://vizanto.com/busysegv/busysegv.zip

[2015-12-13 20:23] calmh opened #527 "Panic in zfs_znode_free"
SmartOS system, crashed when rebooting a KVM box (Windows 2012r2), but from the backtrace I guess that's probably not the direct cause?

[code]

Full crash dump in https://us-east.manta.joyent.com/jborg/public/crash-joyent_20151126T062747Z.tar.gz

Pools look healthy, but I'm running a scrub anyway now to make sure.

[2015-12-14 03:48] amalleo25 commented on #257
Thank you! I ran into an issue where I needed to remove the fileystem and then add it back. Zonecfg worked great.

[2015-12-16 14:10] jjelinek commented on #526
This is failing because the application is attempting to execute code on the stack. From the system's console:
2015-12-16T14:04:42.575380+00:00 headnode genunix: [ID 533030 kern.notice] NOTICE: ldj18wicxhjf0739[136152] attempt to execute code on stack by uid 1000

We explicitly run with a non-executable stack for security reasons.

[2015-12-16 14:16] vizanto commented on #526
How can I check if the same happens on NixOS linux?

[2015-12-16 21:00] sigxcpu76 opened #528 "Increase USB image cluster size to 16KB"
The default cluster size on USB image is very slow for USB keys (e.g. mount and GRUB loading of kernel and boot_archive).

I've tested a 16KB cluster size (32KB is not possible with 2GB) and things are faster when interacting with the key.

The change is here:

https://github.com/joyent/smartos-live/blob/master/tools/build_iso#L187

from:

[code]

to:

[code]

[2015-12-17 23:54] jjelinek commented on #526
You would have to install and test it there, but that wouldn't mean anything for running inside an lx zone on SmartOS, since each OS can choose the level of security they want to provide, so NixOS might not be concerned about an executable stack, and thus allow it.

[2015-12-19 22:39] xen0l opened #530 "Configurable LACP policy"
SmartOS should provide a directive within config file for setting LACP policy, e.g. aggr0_lacp_policy.

[2015-12-21 19:32] sigxcpu76 commented on #396
Any news on this? It would be helpful to avoid a VM power cycle.

[2015-12-23 04:35] melloc commented on #504
Fixed by OS-4933 in 114d19c.

[2015-12-23 04:35] #504 closed

[2015-12-25 20:03] DvdGiessen opened #531 "vmadm does not allow IPv6 resolvers"
IPv6 resolvers are supported in [/etc/resolv.conf](https://smartos.org/man/4/resolv.conf), vmadm's validation marks these as invalid. Probably the validator needs to be tweaked to allow both IPv4 and IPv6 addresses for the `resolvers` property.

I couldn't immediately find where these validators are defined, but I'm sure someone with a bit more knowledge of the code will be able to fix this in mer

[2015-12-28 13:57] matthiasg commented on #494
@krzaczek may i ask how you changed the `zfs_arc_max` parameter ? /etc/system is getting reset on boot is it not ?

[2015-12-28 14:07] krzaczek commented on #494
@matthiasg see https://github.com/joyent/smartos-live/issues/494#issuecomment-149953361

[2015-12-28 14:33] matthiasg commented on #494
@krzaczek thanks. interesting. i was under the impression that changing zfs_arc_max after boot (during service startup) would be too late. i was looking into http://blog.shalman.org/overriding-driver-config-files-on-smartos/. i will try that though

[2015-12-28 14:36] krzaczek commented on #494
@matthiasg well changing /etc/system is to late .. but You can modify without reboot ... see this http://wiki.pressy.net/ZFS

[2015-12-28 14:38] matthiasg commented on #494
@krzaczek i meant changing before boot using grub replacement as described in the article linked not changing the /etc/system after boot. solaris seemed to not support updating zfs_arc_max at runtime at all, but that might be due to it not being able to lower once over the max limit.

[2015-12-28 14:40] krzaczek commented on #494
Well sure ... but this custom SMF runs just after boot .. so there is a good change it's not over the max limit yet :)

[2015-12-28 14:42] krzaczek commented on #494
@matthiasg check this out .. http://dtrace.org/blogs/wesolows/2013/12/28/anonymous-tracing-on-smartos/ - this may be interesting for You ... how to boot with a modified /etc/system for smartos

[2015-12-28 14:44] matthiasg commented on #494
@krzaczek yup. i was referring to that article (its linked in the other one i posted) .. but its more involved than just adding an smf service like you did and i like it a lot more.

[2015-12-31 17:49] nshalman opened #532 "imgadm should include "type" column to differentiate LX and Linux KVM images."
People are regularly trying to use LX datasets for VMs and zvols for LX zones.
The two are hard to tell apart with the current output of e.g. "imgadm avail"

The default columns should be adjusted to prevent this confusion.

[2015-12-31 17:54] nshalman commented on #532
In theory changing the default columns could break badly written scripts that aren't using e.g. "imgadm avail -Ho uuid,name,version" syntax.

On the other hand, I think it's better to break scripts that depend on the default output than to have people wonder why SmartOS doesn't work correctly.

[2015-12-31 18:01] konobi commented on #532
Maybe it'd be better to change "linux" to "linux-lx" and "linux" ?

[2015-12-31 18:19] nshalman commented on #532
It was that way for a while, but then it changed. I don't know why. I just want people to not be confused.

[2016-01-01 18:18] xtreegpt opened #533 "smb sharing of a lofs FS using kernel smb server fails"
Live Image": "20151224T060557Z"
base-64 842e6fa6-6e9b-11e5-8402-1b490459e334 (15.3.0)

zone json

{
	"brand": "joyent",
	"alias": "nas2",
	"hostname": "nas2",
	"image_uuid": "842e6fa6-6e9b-11e5-8402-1b490459e334",
	"max_physical_memory": 1024,
	"dns_domain": "local",
	"resolvers": [
		"192.168.1.1",
		"8.8.8.8",
		"8.8.4.4"
	],
	"filesystems": [{
		"type": "lofs",
		"source": "zones/nas1/movies",

[2016-01-05 15:20] xtreegpt opened #534 "KVM branded zone luks corruption after a reboot"
Live Image version 20151224T060557Z
KVM Image Linux Mint 17.3

json for KVM zone
{
        "brand": "kvm",
        "vcpus": 2,
        "alias": "Linux Mint",
        "autoboot": true,
        "resolvers": ["192.168.1.1", "8.8.8.8", "8.8.4.4"],
        "ram": 1024,
        "disks": [{
                "boot": true,
                "model": "virtio",
                "size": 60000
        }],

[2016-01-05 20:52] insaneirish opened #535 "TCP Keepalives Dropped When Missing Timestamps Where Timestamps Were Negotiated"
As [reported] by @rmustacc on illumos-developer, TCP keepalives are dropped when they are missing timestamps during TCP sessions where timestamps have been negotiated.

I've hit this issue on platform 20151112T052215Z, affecting TCP communication between a joyent branded zone and a 2015 model Apple TV. I suspect that Apple's TCP code is shared between multiple platforms but have not confirmed the

[2016-01-05 21:43] rmustacc commented on #535
@insaneirish when you hit these, do you have the same case where the non-keep alive traffic will have pick up time stamps normally?

[2016-01-05 22:57] pfmooney commented on #526
@vizanto I recently found a bug in the way our emulation was setting initial register state when beginning the execution of certain binaries.  (Static binaries, particularly those compiled with uClibc, seemed to be the most harshly effected.)  I tested the busybox binary you provided on a PI with the fix and did not experience any SIGSEGVs.

If you happen to test on a platform with the fix (742ed6

[2016-01-06 14:45] sigxcpu76 commented on #533
The procedure you refer to uses delegated datasets. Those are different from lofs.
To do SMB sharing with lofs, you will need to use samba package from pkgsrc.

[2016-01-06 18:03] insaneirish commented on #535
In my example, the TCP channel is largely silent (there is actual data going over UDP). After not getting replies to its keepalives, the Apple TV sends a TCP RST and the whole thing dies.

[2016-01-06 18:04] rmustacc commented on #535
Sure, but in the previous case when it worked, what was the behavior? Was it just keep-alives that lacked timestamps?

[2016-01-06 18:16] insaneirish commented on #535
I'm not sure if you mean "do other packets in this TCP session have timestamps?" or "on a previous platform image does this flow work and everything has timestamps?", so I'll answer both:

Yes. In both directions.

I only recently started working with this, so I haven't done this on an older (i.e. pre-5850) platform image. My statement "this is a change in behavior and it could be ignored" is base

[2016-01-06 18:22] rmustacc commented on #535
I was trying to confirm whether or not the Apple Networking stack behaved in a similar fashion to what we were seeing with MSFT, where specifically it would send what appeared to be TCP keep-alives without timestamps; however, when it resumed sending other data traffic, it would include time stamps.

The only good way to confirm this would have been on a pre-5850 platform. If they behave different

[2016-01-06 18:29] insaneirish commented on #535
Got it. At some point I'll try to get an older platform image running in a VM and test it out.

This is a low priority personal project (and I'm working around it in a different way), so I appreciate even your feedback thus far. My main reason for reporting it is that if, for example, a Joyent customer has a problem with TCP keepalives between an iPhone and SmartOS you have at least a bit of histo

[2016-01-06 18:32] rmustacc commented on #535
On 1/6/16 10:30 , insaneirish wrote:

Okay, I'll see if we can put out a platform that can be used to test
this and I'll update this ticket when it's available.

[2016-01-09 03:24] jbarfield opened #536 "illumos Kernel Crashing issue in joyent_20150108T111855Z"
Opening this bug report at the request of Robert Mustacchi in order to track the core dump analysis posted in IRC and on the SmartOS mailing list at:

Relevant logs:

2016-01-09T00:13:54.171544+00:00 00-10-e0-0f-3f-a0 genunix: [ID 432124 kern.notice] buffer freed to wrong cache
2016-01-09T00:13:54.171563+00:00 00-10-e0-0f-3f-a0 genunix: [ID 815666 kern.notice] buffer was allocated from zio_data_bu

[2016-01-11 14:08] ikozhukhov opened #537 "disable check 'joyent_' in image name for build smartos on another env"
we are checking:
if [[ "$(uname -v)" =~ "joyent_" ]]; then

and it is failed with configure script on another platform with 'joyent' keyword in version.
easy fix - remove this check.

[2016-01-12 16:34] nshalman opened #539 "Deprecated options in sshd_config"
From GZ ```/var/log/auth.log```:
[code]

Ping @arekinath.

[2016-01-12 16:38] nshalman commented on #539
Uh, that's from an older sshd_config that got kept around... sorry for the noise.

[2016-01-12 16:38] #539 closed

[2016-01-12 20:41] sigxcpu76 opened #540 "Asterisk PBX fails to connect to console socket on LX (platform 20160107T182847Z, SDC)"
I have an issue on connecting to the Asterisk console when running on LX. It simply throws a warning and hangs.

Short version

Forcibly undefining ```SO_PASSCRED``` at compile time fixes the issue. The #undef is done before this line here: https://github.com/asterisk/asterisk/blob/1.8/main/asterisk.c#L1406

# How to reproduce:

- distribution Asterisk
  - create an LX container
  - ```apt-get -y

[2016-01-13 15:19] nshalman opened #541 "USB image partition table is not 4k aligned"
Aligning the partition table to be 4k block friendly improves performance for some users.

[2016-01-13 16:58] trentm commented on #532
I'm inclined to change the default columns to include the 'type'. Scripts need to use -Ho or -j for processing.

[2016-01-13 17:01] nshalman commented on #532
Works for me.

[2016-01-13 20:29] trentm commented on #532
With coming change this'll look like this:

[code]

[2016-01-13 20:31] trentm commented on #532
Before the change:

[code]

IOW, to accomodate trying to get closer to 80-columns I've changed the "PUBLISHED" column to a shorter PUB that just gives the date.

[2016-01-13 20:31] nshalman commented on #532
:+1:

[2016-01-13 20:35] trentm commented on #532
Added OS ticket for this: https://smartos.org/bugview/OS-5088

[2016-01-13 20:40] trentm commented on #532
commit 7990d32
imgadm version 3.6.0

[2016-01-13 20:40] #532 closed

[2016-01-13 20:59] nshalman commented on #532
Thank you @trentm!

[2016-01-14 01:24] pfmooney commented on #540
This should be fixed in joyent/illumos-joyent@42ce707864693a4173f27ec86ed55c9df456855a

[2016-01-14 01:24] #540 closed

[2016-01-15 13:59] #541 closed

[2016-01-15 14:32] vizanto commented on #526
Thanks @pfmooney - it is indeed fixed :)

[2016-01-15 14:32] #526 closed

[2016-01-15 18:33] sigxcpu76 commented on #385
It's interesting that there are multiple reports regarding ZFS and kmem around January 2015 and nothing after that. See https://github.com/joyent/smartos-live/issues/536 and https://www.illumos.org/issues/5504

Since then I didn't have a single crash, updating almost on every SmartOS release. So it seem that this was solved by some other commit, maybe unrelated.

I think this can be closed.

[2016-01-16 18:40] sjorge commented on #531
Just ran into this one too

[2016-01-17 03:45] #320 closed

[2016-01-18 13:20] ikozhukhov opened #544 "not allow to use "allow_restricted": true - for network nic setup"
we can use
"allow_ip_spoofing": true,
"allow_mac_spoofing": true,

but "allow_restricted": true - not working

[2016-01-18 13:31] #544 closed

[2016-01-18 13:32] ikozhukhov commented on #544
correct property name is: allow_restricted_traffic

[2016-01-18 14:01] matthiasg commented on #357
@fschober @rmustacc we just hit this ourselves with 20150528T153328Z. is there something we can do ?

[2016-01-19 09:15] sjorge commented on #531
Here is the rfd for IPv6 support in SDC https://github.com/joyent/rfd/blob/master/rfd/0011/README.md, which also mentions the resolvers should support ipv6 resolvers.

[2016-01-19 18:16] sjorge commented on #537
I'm not sure SmartOS successfully compiles on non SmartOS.
Have you gotten a succesful build from say OmniOS or OpenIndiana?

[2016-01-19 23:38] melloc commented on #531
@DvdGiessen and @sjorge , this is something that's planned, but I haven't done it yet. I've opened up a ticket to do it:

https://smartos.org/bugview/OS-5100

[2016-01-19 23:43] sjorge commented on #531
@melloc: I noticed it was planned when I found the rfd (nice that they are public too!)

Left some other feedback on there too.

I had a poke around but the whole vmadm nodejs thing looks rather confusing to me. But's good to know it is on the drawing board.

[2016-01-20 19:30] nshalman opened #545 "vmadm(1m) missing LX in vmtype from many appropriate entries"
For example, under quota vmtype contains OS,KVM but should probably be OS,LX,KVM like nics.*.ips

[2016-01-20 22:12] melloc commented on #531
Resolved in 921930a.

[2016-01-20 22:12] #531 closed

[2016-01-21 00:31] nshalman opened #546 "Out of memory on realloc()"
For @pfmooney

[code]

[2016-01-21 21:26] pfmooney commented on #546
Out of curiosity, have you tried running with MaxMemInQueues explicitly set to a smaller value?

[2016-01-21 22:29] nshalman commented on #546
I have not. That number was automatically scaling along with the memory allocation.

[2016-01-22 03:23] ikozhukhov commented on #537
i have successfully build on dilos in zone with customisations
also, if i have my own label version in smartos image without "joyent_" - i can't use build zone for smartos builds - need my proposed update.

[2016-01-22 08:15] xen0l commented on #537
Hi,

I would also like to see this change (or fix for this issue) to land because it causes issues for people who are rolling their own images. I also think that it might better do depend on just something like /etc/release to confirm that the build is running on SmartOS. There is no real reason for people to modify /etc/release contents unless they know what are doing (e.g. ansible uses that file

[2016-01-22 08:25] jclulow commented on #537
I would prefer to leave the checks in by default, but we could conceivably add a flag to configure to allow an experienced developer to ignore the checks on purpose.

[2016-01-22 08:28] sjorge commented on #537
+1 to @jclulow's idea

[2016-01-22 08:37] xen0l commented on #537
Having a switch to bypass the checks could be considered dangerous. I would rather see a better check (e.g /etc/release proposal) or have the value put into a variable, which could be bypassed and the default value of that variable would be "joyent_".

[2016-01-22 13:30] nshalman commented on #546
8 gigs of ram, only use 256M for the queues and only use 2 cpus... still fails:
[code]

[2016-01-22 13:48] nshalman commented on #546
[code]

[2016-01-22 17:08] jblachly commented on #452
I was bitten by this when just getting started.

[2016-01-22 17:21] sjorge commented on #452
I few people have been, usually for the same reason that it was unexpected for datasets not under zones/uuid to be destroyed.

[2016-01-22 17:24] pfmooney commented on #452
@sjorge Aye.  Restricting deletions to children of the zones/<uuid> volume might be an acceptable compromise.

[2016-01-23 06:10] bassu commented on #319
If you are like me and launch and destroy **hundreds** of zones, here's a quick one liner (as the bug is still lurking around):

[code]

[2016-01-24 10:16] sjorge commented on #263
I had a quick look in my build's proto dir and it doesn't look like it even get's buiild. I did find out it seems to be part of illumos-extra and not smartos-live though.

[2016-01-24 16:17] sjorge commented on #388
I guess this can be closed now the sngl brand has been removed

[2016-01-24 16:18] sjorge commented on #263
I patched the makefile but it looks like it needs gnutls which is not shipped.

[code]

[2016-01-24 17:01] pfmooney commented on #388
Aye.  SNGL is gone as of f3e8d3df9263ac16a7aa43a6c15eb769b518f766.

[2016-01-24 17:01] #388 closed

[2016-01-27 00:09] xen0l opened #547 "zonememstat: show VM memory overhead"
For KVM VMs, zonememstat should also show memory overhead (rss - ram).

[2016-01-28 22:50] DvdGiessen opened #548 "Support IPv6 static gateways for zones"
Similar to #531, I just noticed IPv6 gateways are not supported in `vmadm`:

[code]
 `Static gateways must be IPv4 addresses: fd00::1`

The RFD for IPv6 in SmartOS mention IPv6 address support for the gateway array as well, [here](https://github.com/joyent/rfd/blob/master/rfd/0011/README.md). @melloc [mentioned a while back he was working on it](https://github.com/joyent/smartos-live/issues/431#is

[2016-02-02 20:54] sigxcpu76 opened #549 "aggr & bge failure"
I've created an aggr over 2 ```bge``` interfaces (```bge0``` and ```bge1```) connected to a Cisco switch. Both the aggr and etherchannel look fine. The MAC address of the aggr is the one of the first interface.

When passing real traffic these things happen
- both interfaces up - some traffic works, some doesn't (the packets that arrive on ```bge1``` interface look to be ignored)
- ```bge0``` up o

[2016-02-03 20:02] naisanza opened #550 ""grep dump" should be "grep zones/dump""
https://github.com/joyent/smartos-live/blob/master/overlay/generic/smartdc/lib/smartos_prompt_config.sh#L795

I have a pool named "dump", which causes setup_datasets() to skip this step, causing services to fail on reboot

This is the line that skips creating zones/dump:

`if ! echo $datasets | grep dump > /dev/null; then`

[2016-02-03 20:54] bahamat commented on #549
This looks like similar behavior to OS-5136.

[2016-02-04 15:02] dothebart opened #551 "vmadm crashes when commandline params are wrong"
Was trying to increase the memory for a zone;
The '=' are missing from this command:

[root@solarisvm ~]# vmadm update b606d10c-29ee-cb7d-9698-dbd0ca4c89b4 max_physical_memory 2048 max_locked_memory 2048 max_swap 2048 tmpfs 2048
Uncaught TypeError: Cannot call method 'toString' of undefined

FROM
buildZonecfgUpdate (/usr/vm/node_modules/VM.js:5656:47)
async.series.VM.load.log (/usr/vm/node_modules

[2016-02-04 15:54] jperkin commented on #506
I took a look at this today.  It appears we cannot use USB booting at this time, it isn't natively supported by VMware, and the workarounds (e.g. using EFI and using a chainloading floppy image) are untenable.

So I've prepared a patch which simply switches to using the ISO image.  This works for me, so would appreciate others testing.

The proposed patch is here:

http://165.225.144.106/0001-joye

[2016-02-04 16:34] CyBeRoni opened #552 "installer should ignore all USB drives for zpool creation"
The installer currently ignores only drives set as 'removable', which not all hardware does correctly for USB drives. For instance on my machine:

[code]

I'm not sure if this is due to the USB drive or my server firmware but apparently it's more common. Probably people wanting to add USB devices to their zones pool should be creating it manually.

[2016-02-05 15:31] aortmannm opened #554 "smartos server crashes every hour"
Hi,

got a smartos server that crashes every hour since Jan 15 21:08. Picture attached.

![core-dump](https://cloud.githubusercontent.com/assets/3414298/12850340/85691c04-cc24-11e5-9a16-ca7a89791086.PNG)

The system was stable for a year, no problems and no mysterious.
Here is the part of the core dump, can upload the hole one if needed.

[code]

SmartOS Version: 20150709T171818Z
Mainboard: X9DRD-

[2016-02-05 16:59] rmustacc commented on #554
We'll probably want to start with getting the full stack trace (the `$C` command in mdb) and/or uploading a dump. I'd also highly recommend you upgrade from Feb 2015 to a more recent release to help rule out various issues that have already been fixed.

[2016-02-05 17:02] vizanto opened #555 "[lx-brand] Systemd-228 mounts fail on NixOS-16.03"
[code]

Steps to reproduce:
1. Create an lx-zone using http://datasets.at/ui/#!/configure/22ba59c6-8c49-11e5-87e5-7fbffbc05623
2. `nix-channel --add https://nixos.org/channels/nixos-unstable/`
3. `nixos-rebuild switch`  (this will fail)
4. Attach a console `vmadm console UUID`
5. Reboot the VM: `vmadm reboot UUID -F`

[2016-02-05 17:12] pfmooney commented on #555
This situation may improve once [OS-4762](https://smartos.org/bugview/OS-4762) is resolved.

[2016-02-05 17:27] jjelinek commented on #555
If you're on a system where you can run DTrace in the global zone, can you run this script while you're trying to boot the zone and post the output:

lx-syscall::mount:entry
{
    printf("%s -> %s(%s %s %s 0x%x %s)\n", execname, probefunc,
        copyinstr(arg0), copyinstr(arg1), copyinstr(arg2), arg3,
        (arg4 ? copyinstr(arg4) : "NULL"));
}

[2016-02-05 17:53] vizanto commented on #555
i ran the script before and after updating:

Working boot:
[code]

Broken boot (after update):
[code]

[2016-02-05 18:05] jperkin commented on #506
@rmustacc suggested a different approach, where we give the boot media a volume label then ensure it is skipped by the installer.  There was also discussion on IRC about skipping all USB devices by default (users can still create a pool manually if they really really want to, e.g. for testing).

I've implemented a patch which solves both cases, and have tested that it at least resolves the boot im

[2016-02-05 18:06] rmustacc commented on #506
I think someone else actually suggested it, I just parroted it. @jclulow could you review the changes here?

[2016-02-05 18:57] CyBeRoni commented on #506
This is the premise behind #552 which you would fix with that.

[2016-02-05 21:29] pfmooney commented on #555
Is NixOS on a "real" kernel using kdbus?
It never made it into mainline Linux, AFAIK.

[2016-02-05 22:52] vizanto commented on #555
Not sure how to investigate this, but these are the mounts on a real NixOS 16.03 machine:
[code]

[2016-02-05 22:54] vizanto commented on #555
And, no:
[code]

[2016-02-06 15:12] sjorge opened #556 "[feature] nictagadm should also allow to add, update, delete aggr, set ip,..."
nictagadm should probably also allow aggr's to be created, updated and deleted

Also creating vnic though nictagadm would be welcome, that would make it support all the 'network' bits that can be configured in /usbkey/config.

[2016-02-07 08:03] matthiasg commented on #554
It seems to be related to deleting snapshots. We are using a service called zsnapper which creates snapshots at regular intervals and deletes older one automatically. That explains why it happens so regularily. Now we will try a newer release of SmartOS to find out whether thats been fixed, since deleting a snapshot obviously shouldnt cause a reboot.

[code]

[2016-02-08 09:13] matthiasg commented on #554
we tried it with the newest release and it is still happening. we can reproduce it by deleting all snapshots on the zfs file system which will cause the system to crash after reaching a certain point.

anything else we can try ?

[2016-02-08 16:39] rmustacc commented on #554
Would it be possible to get a crash dump uploaded? We can also help reach out to the ZFS folks to see if they've seen anything like this.

[2016-02-09 09:59] aortmannm commented on #554
Here the dump files. Before the server crashes start we made from another server a "zfs send | ssh zfs recv" that we had to stop, don't know if this created this problem.

http://downloads.curasystems.de/vmdump.520.tgz
http://downloads.curasystems.de/unix.520.tgz

[2016-02-09 11:44] jperkin commented on #506
@CyBeRoni any chance you could test to make sure we're skipping USB devices too?

Platform image for testing is here: http://165.225.144.106/platform-20160204T124228Z.tgz

Thanks.

[2016-02-09 16:02] CyBeRoni commented on #506
I'm afraid the box I referred to is in a colo doing Important Things but I'll see if I can't find something else that exhibits the same behaviour.

[2016-02-10 21:17] eripa opened #557 "[lx-brand] Alpine 3.2 SSH authorized_keys not working (realpath authorized_keys failed: Permission denied)"
I'm having trouble getting SSH access to work on a LX-branded Alpine zone (uuid 96bb1fac-c87d-11e5-b5bf-ff4703459205).

The server states the following in the log file (debug below doesn't say much more):
**Authentication refused: realpath /home/eric/.ssh/authorized_keys failed: Permission denied**

It seems to me like some kind of privilege issue where SSH doesn't get proper access to the file. G

[2016-02-10 23:19] jjelinek commented on #557
Can you check to see if this issue https://smartos.org/bugview/OS-4407 is the underlying problem?

[2016-02-11 05:04] eripa commented on #557
@jjelinek thanks for pointing me to that bug, unfortunately it didn't really fit the issue. sshd starts fine and password auth works while key auth fails.

The default was `UsePrivilegeSeparation yes`, I also tried with `UsePrivilegeSeparation no`, but it made no difference.

Forgot to mention that I'm running SmartOS release-20160204

[2016-02-11 13:01] alcir opened #558 "Unable to start MariaDB on CentOS LX zone due to systemd PrivateTmp option"
LX zone CentOS 7.2 64-bit
image UUID: aae64e42-c88d-11e5-a49d-87f422b1820b
SmartOS build: 20160121T174331Z

With this error:

To solve the issue I had to put `PrivateTmp=false` in the `/usr/lib/systemd/system/mariadb.service` file

[2016-02-12 10:44] stevenwilliamson opened #559 "svcadm enable hangs indefinitely when file dependencies have been involved"
`svcadm enable -s` can hang forever when file dependencies have been involved. This causes operator confusion and issues when it's run from scripts and configuration systems such as puppet/chef.

## Steps to reproduce:

Create a file dependency for a service, for example we add a file dependancy to nginx, example service manifest xml snippet below:

[code]

Start the service and the service will n

[2016-02-13 17:54] jblachly opened #560 "Cannot build smartos-live according to instructions on wiki"
_At the outset let me say I recognize this is a crazy-long issue report, but I think I've followed the instructions to-the-letter and I wanted to paste the output to demonstrate this. Thanks in advance for looking through._

The wiki page on building smartos-live
[https://wiki.smartos.org/display/DOC/Building+SmartOS+on+SmartOS](https://wiki.smartos.org/display/DOC/Building+SmartOS+on+SmartOS)
giv

[2016-02-13 21:17] pfmooney commented on #560
Is there any indication that system resources (disk, memory, etc) were exhausted during any point in the build process?  Did you attempt to restart the build after the failure?

[2016-02-13 21:30] jblachly commented on #560
Plenty of resources (disk free 34G, CPU never exceeded 25% total CPU [32 cores], memory, gave the zone 8 GB and never saw memory usage tick above 90 MB with zonememstat in the GZ).

Running `gmake live` again crashes at the same step ; only difference is now the patching of .Mk files was evidently applied successfully so those messages do not appear.

[2016-02-14 16:56] scarcry opened #561 "vmadm (1m) kernel_version for vmtype: LX listed as 'create: no' should be yes"
[root@tron ~]# uname -v
joyent_20160121T174331Z

kernel_version for create field for vmtype: LX is listed as 'no'.
without kernel_version in the json payload, vmadm (1m) validate returns:

root@tron /usbkey/images]# vmadm validate create -f test2-centos-7-20160201.json
{
  "bad_values": [],
  "bad_properties": [],
  "missing_properties": [
    "kernel_version"
  ]
}

full payload used:

{
 "brand"

[2016-02-15 16:25] rmustacc commented on #559
Thanks for the detailed bug report. We'll investigate this and try to figure out what's going on. I suspect that there are a lot of issues around file dependencies.

[2016-02-15 21:40] scarcry commented on #468
Any updates on this?
I'd love to use fwadm(1m) on all my zones but I can't because I'm running services on IPv6

[2016-02-15 23:16] melloc commented on #468
@scarcry I've mostly finished this up, but I'm still testing some things out with FWAPI. If you're interested, I can upload a platform image if you want to play around with it.

[2016-02-16 04:44] jblachly commented on #560
Probably solved - leaving to build overnight. Will post update tomorrow if ultimately successful. Am posting this in the meantime so that no-one else works on this problem.

Essentially the step
`su - username`
causes the downstream failure because the build scripts require write access to
`/dev/pts/N` (for whatever reason)
and when logged in to the user with `su -` the pts is still owned by root.

[2016-02-16 20:21] sjorge opened #562 "can't bring up zone with ips = dhcp, addrconf + static ipv6"
[code]

[code]
dhcp + addrconf
addrconf + static ipv6
dhcp + static ipv6 all work, but not all 3 of them combined.

[2016-02-16 21:31] melloc commented on #562
This is caused by [OS-4683](http://smartos.org/bugview/OS-4683), which is preventing DHCP from working when the zone is starting up, so the provisioning step is failing.

[2016-02-16 21:33] melloc commented on #562
(The provision step fails because the network service never comes up.)

[2016-02-16 21:53] sjorge commented on #562
So everything is related to the same issue -_- I'll close this for now.
Strange that pick 2 of list work fine but not all 3 combined though.

[2016-02-16 21:53] #562 closed

[2016-02-16 22:08] melloc commented on #562
Did addrconf and a static IP actually work once it was up though? It wouldn't prevent booting the zone, but it would prevent `in.ndpd` from setting a SLAAC address.

[2016-02-16 22:15] sjorge commented on #562
Yeah only the static one for added + ::/0
But it at least booted.

~ sjorge

[2016-02-17 00:19] jblachly commented on #560
I was able to build smartos-live by making a password for the build user and logging in via ssh, instead of `zlogin` -> `su -`

If the wiki is going to recommend not building as root (the reason for this is not clear to me?) then you may wish to add this caveat.

[2016-02-17 16:08] pfmooney commented on #555
You may way to give this another try on a PI which includes the fix for OS-5155.  The symptoms are fairly similar (new-ish systemd freezing on boot).

[2016-02-17 16:57] sney commented on #449
I see this issue as well when following this document to create CIFS shares, and anything involving sharemgr. Even if -P smb is specified, I still get:

[root@test-storage ~]# sharemgr show -P smb
SMF Initialization problems..svc:/network/nfs/server:default
SMF Initialization problems..svc:/network/nfs/server:default
SMF Initialization problems..svc:/network/nfs/server:default
SMF Initialization p

[2016-02-18 10:39] scarcry commented on #468
@melloc I'm definitely interested in testing this.. I'm just now learning fwadm(1m) and want to get my head around it but would be great if could firewall all my zones using it instead of using ipfilter locally.
does your your platform image also use openssh like the official joyent images?

[2016-02-19 02:06] melloc commented on #468
@sjorge @scarcry I've uploaded some builds here:

http://us-east.manta.joyent.com/cody.mello/public/builds/FWAPI-225/platform-20160217T071244Z.tgz
http://us-east.manta.joyent.com/cody.mello/public/builds/FWAPI-225/platform-20160217T071244Z.usb.bz2
http://us-east.manta.joyent.com/cody.mello/public/builds/FWAPI-225/smartos-20160217T071244Z.vmwarevm.tar.bz2

You can see some examples in `fwrule(5)` a

[2016-02-19 07:48] matthiasg commented on #554
@rmustacc did anybody look at this ? is there anything we can do ourselves ?

[2016-02-19 11:34] vizanto commented on #555
Something has changed all right:
[code]

[2016-02-19 15:58] rmustacc commented on #554
Apologies, I've been swamped and haven't been able to personally, sorry I've dropped the ball on this issue. I know that it must be quite frustrating. I'd suggest mailing details to the ZFS developer lists where they'll have some folks who are a bit more knowledgeable about these kinds of issues in ZFS and hopefully will be able to provide some guidance a bit faster than we will.

[2016-02-19 16:29] sjorge opened #564 "SmartOS ComputeNodes spam DHCPv6 SOLICIT packets in some odd cases"
@melloc here is all the info I collected https://gist.github.com/sjorge/b1a891658f52abe920cf

If you need more stuff, just ask here or on IRC.

[2016-02-19 17:31] melloc commented on #564
@sjorge Thanks for the details. I'll take a look into this at some point, once I wrap up other things I'm currently working on.

[2016-02-19 20:11] sjorge commented on #548
I'd like this also, however it looks like static routes for ipv6 are not supported in illumos in general.
By this I mean, an easy way to make them persistent across reboots.

[2016-02-19 20:12] sjorge opened #565 "provision fails with only 'addrconf' in IPS field."
[code]

[2016-02-20 02:40] melloc commented on #468
@scarcry Sorry, I realized that I forgot to answer the question at the end of your comment: Yes, it includes openssh just like the official images. This build should be identical to the one released Thursday minus maybe any kernel bits that made it in several days before the release.

[2016-02-20 23:18] razamatan opened #566 "cyberpower usb ups not assigned correct driver"
similar to https://github.com/joyent/smartos-live/issues/285

my ups is cyberpower brand.  here's the relevant prtconf -v output:

[code]

so the classifier to use is probably **`usbif764,class3`**

and in /etc/driver_aliases, please add:

`ugen "usbif764,class3"`

[2016-02-22 04:52] jblachly opened #567 "mac_protect anti-ip-spoofing is blocking perhaps wrongly?"
Background:
I have never, with single exception, had a problem using "ip": "dhcp" for KVM zone installing other unix family operating systems including NetBSD-6.1.5, OpenBSD-5.8, Linux. However, when I tried to install NetBSD-7.0, networking does not work unless I include the flag `"allow_dhcp_spoofing": true` in the JSON zone definition. I thought this must surely be a bug in NetBSD-7 virtio driv

[2016-02-22 08:16] aortmannm commented on #554
Who is thios zfs group where we need to create this issue?

[2016-02-22 10:40] jclulow commented on #554
You could try the OpenZFS mailing list: http://open-zfs.org/wiki/Mailing_list

[2016-02-22 12:52] stevenburgess commented on #554
your quote "which will cause the system to crash after reaching a certain point" makes me wonder if its [this issue](https://github.com/zfsonlinux/zfs/issues/3104) basically trying to delete too many snapshots at once holds open the next TXG, so depending on write workload, can fill some buffers and in our case, lead to crashes.

You can check on this by figuring out what znapper would be deleting

[2016-02-22 15:35] rmustacc commented on #567
@melloc can you take a look a bit more at this?

@jblachly it'd be quite helpful if you could include the output of dladm show-linkprop for the various nics in your VM.

[2016-02-22 15:36] rmustacc commented on #554
From the dump we're not holding open a single txg for a long time. Instead the issue is that ZFS is expecting some bit of data to be present that's not. @ahrens have you ever seen issues like the ones in the dump above?

[2016-02-22 21:51] melloc commented on #486
This was resolved by OS-4796 in e0e5732.

[2016-02-22 21:51] #486 closed

[2016-02-22 23:41] jblachly commented on #567
[code]

[2016-02-22 23:55] rmustacc commented on #567
Okay, so seeing ip-nospoof on is a bit surprising. What's the vmadm get output for that same zone?

[2016-02-23 00:03] jblachly commented on #567
N.B. I pasted this from the NetBSD PR; I tried to remove any errant "=" line wrap characters in the JSON but may have missed one

**zone definition**
[code]
**zone creation**
[code]
**zone metadata after boot**
[code]

[2016-02-23 01:12] melloc commented on #567
@jblachly , to get a better idea of why it's failing, you can trace some of the functions that it calls, and check their return values:

[code]

[2016-02-23 06:16] jblachly commented on #567
Findings:

**In zones with ip configured as "dhcp"**

0. bringing up the link with ifconfig sends an ARP announcement / gratuitous ARP packet. With the default allow_dhcp_spoofing: false, this is blocked and fires the `ip-nospoof-fail` probe.

1. If I bring up a link first with DHCP in a zone where `"ip": "dhcp"` it is successful (except in the case of NetBSD-7 of course). If I then change the IP

[2016-02-23 07:11] melloc commented on #567
@jblachly I might try this out myself at some point. Is this just a standard NetBSD 7.0 install using DHCP?

[2016-02-23 14:00] jblachly commented on #567
@melloc Yes, it is stock NetBSD-7.0-amd64 installer ISO located here:

[ftp://ftp.netbsd.org/pub/NetBSD/NetBSD-7.0/iso/NetBSD-7.0-amd64.iso](ftp://ftp.netbsd.org/pub/NetBSD/NetBSD-7.0/iso/NetBSD-7.0-amd64.iso)

My JSON zone definition should be earlier in this issue report. Only thing missing to completely reproduce is my platform image:
`SunOS smartos 5.11 joyent_20160121T174331Z i86pc i386 i86pc

[2016-02-23 14:15] cc-saxr opened #568 "imgadm doesn't show images if zpool name contains a number"
The regex in src/img/lib/imgadm.js on line 90 and 91 won't match if the zpool name has a number in it.
These would fix the issue
var VMADM_FS_NAME_RE = /^([a-zA-Z][a-zA-Z0-9\._-]*)\/([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})(-disk\d+)?$/;
var VMADM_IMG_NAME_RE = /^([a-zA-Z][a-zA-Z0-9\._-]*)\/([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$/;

[2016-02-23 15:12] matthiasg commented on #554
btw we now have a second server exhibit the same issue. this time a live customer machine. it was rebooting every minute due to making/deleting snapshots. disabling the znapper service fixed the issue, but we are now stuck with another system where we cannot delete certain snapshots anymore. we will post into the zfs groups too

[2016-02-23 16:14] ahrens commented on #554
It's possible that this is the fallout from hitting bug 3603, which was fixed a few years ago.  Have you run this pool without the following fix?  A workaround for this problem would be to add code to bpobj_enqueue_subobj to ignore the subsubobjs if it does not exist (i.e. dmu_object_info() returns ENOENT, as it has here).  This would leak some space (perhaps a very small amount of space) but allo

[2016-02-23 16:44] aortmannm commented on #554
We never run such an old smartos version on these two servers.

[2016-02-23 22:01] melloc commented on #468
This is resolved in FWAPI-225 by 63f75cc.

[2016-02-23 22:01] #468 closed

[2016-02-24 07:03] melloc commented on #567
Just an update: the issue seems to be that the DHCP client is sending out DHCP DISCOVERs with the Client-Identifier option. Currently the DHCP spoofing protection requires that any Client Identifiers be listed in the VNIC's `allowed-dhcp-cids` list. I'm going to take a further look into this to determine if the current behaviour is what we actually want, and whether there's a reasonable argument t

[2016-02-24 07:11] melloc commented on #567
I think the answer is that the current behaviour is what we want; I believe that there's no same way to predict the Client Identifier, and we can't allow any identifier to be used, since I believe that it would allow hijacking other DHCP transactions. The answer may be that in this case either the DHCP client needs to only use Client Identifiers when the behaviour is explicitly enabled (so after i

[2016-02-24 07:56] melloc commented on #567
So, NetBSD uses `dhcpcd`, which by default will use [RFC4361](https://tools.ietf.org/html/rfc4361)-style Client Identifiers. Unfortunately, part of this identifier is the IAID, which is picked by DHCP clients in an opaque manner, and cannot be predicted by the kernel. Commenting out the `duid` line in `/etc/dhcpcd.conf` will allow the client to gain an address. There are several options here:

- S

[2016-02-24 14:55] rmustacc commented on #567
In addition to the DTrace probes, we should make sure that we keep counters of what's happening in the kernel. The comment that we should bump a counter should be replaced with actually bumping a counter and we should consider exposing these via some kind of mac stat or otherwise. It might be a useful idea to enhance dlstat or something similar to show mac protection drops.

[2016-02-24 18:39] melloc commented on #567
@rmustacc Which comment are you talking about? There's a stat bump for dhcpspoofed on line 2328. dlstat(1M) could benefit from being enhanced. Does it currently show VNICs? I can't seem to get it to show anything for mine.

[2016-02-24 18:50] melloc commented on #567
Oh, I see where you're talking about, on line 2164. I think that that comment can be removed, and the state bump can be left up to line 2328.

[2016-02-24 20:06] jblachly commented on #567
This could be problematic if this standards track rfc duid scheme is implemented more widely i.e. in more dhcp clients in the future.

It might be interesting to have a dhcp expert weigh in. I could point Roy Marples to this issue

Another tangential observation from my network sniffing and packet dumps is, if I am interpreting correctly, that the illumos  kernel seems to be blocking ICMPv6 packet

[2016-02-24 22:59] melloc commented on #567
This isn't really problematic, so much as DHCP spoofing protection isn't what you want if you want to use Client Identifiers, much like IP spoofing protection isn't what you want if you want to use the privacy extensions to SLAAC. The two are fundamentally at odds: DHCP spoofing protection is meant to ensure that a VNIC cannot maliciously send DHCP packets, and IAIDs are selected in an opaque mann

[2016-02-25 00:34] melloc commented on #567
So, after a conversation with @jclulow , I'm going to add support for an `allowed_dhcp_cids` array, as well as a new VNIC property, `allow-all-dhcp-cids`. If the array is empty, the zone startup scripts will set `allow-all-dhcp-cids` to true on the VNIC. This will allow NetBSD and others to be easily installable, but also allow people to restrict permitted Client Identifiers if needed (and not cha

[2016-02-26 07:47] joshwilsdon commented on #329
fixed with bfd46958d86958bc3b1a4ce9fccd0f9649aec908

[2016-02-26 07:47] #329 closed

[2016-02-26 09:23] schmurfy commented on #329
nice ! thanks :)

[2016-02-26 16:15] badboy commented on #319
Any chance this will be addressed?

[2016-02-26 21:44] vizanto commented on #555
@pfmooney :) ?

[2016-02-28 10:25] sjorge opened #570 "Static IPv4 gateways don't get applied?"
[code]

[code]

[2016-02-28 10:25] sjorge commented on #570
That output was taken from vmadm get UUID, I only specified 'gateways: ["172.16.30.1"]'

[2016-02-28 10:28] sjorge commented on #570
While troubleshooting I also noticed this in the log of network/physical:
[code]

The double 'up' seems wrong, but it does seem to work.

[2016-02-28 10:55] sjorge commented on #570
Closing, figured it out. /32 does not a good IP make.

[2016-02-28 10:55] #570 closed

[2016-03-02 02:53] markhellewell opened #571 "vmadm(1m) vmtype of dns_domain property only mentions OS…"
…but `dns_domain` also works for LX brand zones!

[2016-03-02 21:27] RantyDave commented on #546
FWIW Alpine uses a different memory allocator from other distributions, so it may well be that. Try again on Debian?

[2016-03-04 03:03] nirv199 opened #574 "host crash with LX branded zone running"
[root@headnode (BASEMENT) /var/crash/volatile]# mdb -e '::status; $C' 0
debugging crash dump vmcore.0 (64-bit) from headnode
operating system: 5.11 joyent_20151223T094457Z (i86pc)
image uuid: (not set)
panic message:
BAD TRAP: type=e (#pf Page fault) rp=ffffff002f332940 addr=0 occurred in module
"FSS" due to a NULL pointer dereference
dump content: kernel pages only
ffffff002f332a70 fss_update_lis

[2016-03-04 13:44] nirv199 commented on #556
If I may add it would be great to have the possibility to aggregate NICs during headnode installation (instead of having to manually edit the config file after its done). Most of the server deployments I see today makes use of uplink redundancy.

[2016-03-04 21:14] vizanto commented on #555
Fixed in `SmartOS Live Image v0.147+ build: 20160304T005100Z`

[2016-03-04 21:14] #555 closed

[2016-03-05 16:57] sjorge opened #575 "mdata-get can't retreive nics.*.ips property"
[code]
[code]

[code]

It would be handy to be able to retrieve just the ips property.

[2016-03-05 17:45] anilj opened #576 "Unable to specify more than 10 IP addresses in config"
I tried to specify about 16+ IP address in the “ips” attribute of the config (joyent_20160204T173339Z) but apparently things seem to get truncated.
`
      "nics": [
        {
          "nic_tag": "external",
          "ip": "102.29.163.170",
          "netmask": "255.255.255.192",
          "gateway": "102.29.163.129",
          "ips": ["102.29.163.170/26", "2001:392:2:60e::14/64", "2001:392:2:60

[2016-03-05 20:17] melloc commented on #576
@anilj Sorry I didn't follow up on the mailing list, but I've found the problem, and have been testing a fix. The issue is that both `zonecfg` and `dladm` restrict input length to 256 characters. I've been playing around with bumping these values to make sure it's safe to do so. I'm thinking about setting a limit to 20 IPs per interface. Does that sound like a reasonable number?

[2016-03-05 22:55] anilj commented on #576
Why have a limit at all, when the kernel itself doesn't impose this limitation?
We just recently started using IPv6 and one of my clients wanted 16 IP addresses, but given the large free IPv6 address space, I am willing to give out even more to clients, if they ask.

I thought about creating net0, net1, net2 etc., and adding these IPv6 addresses to those but right now I think an IPv4 address (whic

[2016-03-07 06:35] bahamat commented on #575
Here's the [metadata data dictionary](http://eng.joyent.com/mdata/datadict.html). Only `sdc:uuid`, `sdc:server_uuid` and `sdc:datacenter_name` are supported.

Other objects are accessible, but are not considered a stable interface at this time. There's no guarantee they will always be available.

The right place to get this info would seem to be `sysinfo`, but it's not currently supported there ei

[2016-03-07 06:58] sjorge commented on #575
I knew about sysinfo but as you said it doesn't show if an interface is dhcp or addrconf. I'm actually already using that to get other data. As it is not one of the supported properties I will close this issue.

[2016-03-07 06:58] #575 closed

[2016-03-07 07:33] sjorge opened #577 "/lib/svc/method/identity-node should also support IPv6 addresses"
Once OS-5216 is fixed, /lib/svc/method/identity-node should also update /etc/hosts with IPv6 addresses

[2016-03-07 16:40] rmustacc commented on #575
Inside a zone, sysinfo wouldn't be the right place to get this. Instead, we should longer term, consider how to make this information stable inside of a zone via mdata.

[2016-03-07 16:50] sjorge commented on #575
Personally I like the mdata + sdc prefix.
Perhaps add a flag so that list will display them if it is specified. Obviously mdata-put should not work on those.

[2016-03-08 16:04] tozhu opened #578 "aspica issue"
hardware configuration: HP DL360 G6
boot from DilOS, it works well,
but boot from smartos, it failed with following call
![img_20160308_223350](https://cloud.githubusercontent.com/assets/2421334/13607228/2b298f2e-e58a-11e5-8a98-65597fd3b8ab.jpg)
![img_20160308_223324](https://cloud.githubusercontent.com/assets/2421334/13607230/2ba0faf0-e58a-11e5-9299-c983906e41be.jpg)

stack:
======
kmdb_enter+0xb

[2016-03-09 05:31] jblachly commented on #567
Hi guys, thanks for all your hard work.

Tonight I had the problem that even when setting a client ID to the same as the hostname in a native OS zone I was tripping the `mac_protect_check_one:dhcp-nospoof-fail`.

Would it make sense to have an implicit entry in the `allowed-dhcp-cids` list equal to the hostname in the zone definition? For example, when creating a zone with `vmadm(1M)` a new vnic i

[2016-03-10 01:17] plluksie opened #579 "Newest openssl (openssl-1.0.2g.tgz) breaks python"
After updating to the openssl-1.0.2g python throws errors:

[code]

downgrade to openssl-1.0.2f.tgz solves the issue

[2016-03-10 03:01] rmustacc commented on #579
Is this in reference to a specific pkgsrc repository? Can you include what image version you're using?

@jperkin does this look familiar?

[2016-03-10 05:50] plluksie commented on #579
Instance (base-64-lts 15.4.0)
http://pkgsrc.joyent.com/packages/SmartOS/2015Q4/x86_64/All

[2016-03-10 06:12] askfongjojo commented on #579
@plluksie - Please refer to this issue https://github.com/joyent/pkgsrc/issues/326. I don't believe there is anything we can fix. It's a dependency of python 2.7 itself on SSLv2 which has to be disabled for security reason. (https://www.openssl.org/news/openssl-1.0.2-notes.html)

[2016-03-10 06:19] plluksie commented on #579
@askfongjojo @jperkin @rmustacc thank you. Enforcing the reinstall with the newest packages solved the issue:

[code]

[2016-03-10 06:19] #579 closed

[2016-03-10 10:12] jperkin commented on #579
This will be fixed correctly in the 15.4.1 images which will be released shortly.

[2016-03-10 21:00] sjorge commented on #319
Was testing with some kvm instances today, It's rather annoying! @melloc ?

[2016-03-16 01:59] benjamin-bergia opened #582 "Intel 40G NIC support"
I don't know if it's the right place to ask but I have two servers using Intel X710 NICs (4x 10GbE ports). Apparently these cards are not supported yet. Is there any plan to support these cards in the near future ?

[2016-03-16 05:12] jclulow commented on #582
@benjamin-bergia As of 3481108a7fc8e2b49ae3b11aae0aba0b393ca895, I believe we now have a working driver for these NICs!  These should be in the upcoming release.

[2016-03-16 07:35] benjamin-bergia commented on #582
Wow that is a very good news.
Thank you very much.

[2016-03-16 14:44] tozhu commented on #578
with igork's fix, actually, he integrated the latest acpica version 20160212  from acpica.org , and with some update for illumos build.  here is the code link: https://bitbucket.org/ikozhukhov/illumos-joyent-igork/commits/branch/acpica

[2016-03-16 14:46] tozhu commented on #578
more details please refer : https://www.listbox.com/member/archive/196203/2016/03/sort/time_rev/page/1/entry/0:6/20160315150753:3514824E-EAE1-11E5-88E2-CC0BF39E0920/

[2016-03-16 16:40] aortmannm opened #583 "When log/cache device ssds are missing smartos configruation wizard comes"
I built a new system and made some performance checks with iozone. Some tets with and some without ssds as cache and log device. I plugged off the power cables of the ssds and restarted the system.

The system booted from the usb stick and the configuration wizard comes. Is this a desired feature?

[2016-03-16 17:00] jclulow commented on #583
It's not safe to import a pool without the log devices.  There might be outstanding log data on the device (which you've unplugged) that we need to commit to the disks in the pool, but we cannot know this so we don't let you import the pool.  When you cannot import the pool, the setup process assumes you don't have one -- in your case, this behaviour is somewhat unfortunate.

If you just want to d

[2016-03-17 15:45] sjorge opened #584 "native zones do not parse /etc/default/init's LANG and LC_* variables"
Using base-64-lts 15.4.0 and default bash profile, zlogin -C UUID

[code]

Same after a reboot of the zone, just in case.

[2016-03-17 17:37] nshalman commented on #546
https://github.com/joyent/illumos-joyent/commit/28e4c4c ([OS-5252](https://smartos.org/bugview/OS-5252)) appears to have fixed this.
At the very least, I'm now able to launch a tor relay in us-east-3b of the JPC so I'm closing this out.

Thanks for the ping on IRC, @pfmooney.

[2016-03-17 17:37] #546 closed

[2016-03-17 20:14] chorrell commented on #584
Does using the `-C` flag with `zlogin` change the expected behaviour when it comes to parsing `/etc/default/init`? A quick scan of the man page didn't mention anything.

[2016-03-17 20:37] sjorge commented on #584
zlogin UUID == LANG, LC_* unset
zlogin -C UUID -- LANG, LC_* set to 'C'

As per jperkins, zlogin is expected beheaveor, zlogin -C isn't

[2016-03-18 07:39] bcantrill commented on #574
Apologies for the delay in looking at this; can you make available the crash dump here?

[2016-03-18 14:15] nirv199 commented on #574
Hey Bryan! I am no longer seeing the issue since the 20160303T211841Z build (got the SDC image from https://us-east.manta.joyent.com/Joyent_Dev/public/SmartDataCenter/usb-latest.tgz ).

I remember I saw the same issue till the very previous build to the 20160303T211841Z one (I am sorry I didn't keep track of the predecessor version/build). This was a brand new server and I was doing full SDC re-in

[2016-03-18 14:27] #574 closed

[2016-03-18 16:16] sjorge opened #585 "native 'route' in lx zones tries to write to /etc/inet"
Would probably be nice to make it aware that it is running in a branded zone and not try and write to a path that is not available., would be even nicer if lxinit would actually read the file on start too.

For now I made the directory and use a cronjob set to @reboot to load the file.

[2016-03-18 18:24] melloc commented on #576
The kernel doesn't have a limit on the number of addresses that can be on an interface, but a bunch of other systems and tools end up imposing various limits that create a practical limit. (For example, mac, which provides IP spoofing protection, currently only associates up to 32 IP addresses and subnets with an interface.) These limits can always be raised, but I suspect that 20 should be good e

[2016-03-18 18:24] #576 closed

[2016-03-22 15:29] aortmannm commented on #554
Made a new update today to the newest Version 20160317T000621Z.

The problem is still existing on two servers. Did really no one know this problem or can help to investigate it?

The new dump from the newest version.
[http://downloads.curasystems.de/vmdump.538.tgz](url)

[2016-03-22 18:39] melloc commented on #565
I've fixed this in joyent/zoneinit@c66e345, but since zoneinit is something that ships with images, this won't be fixed until new images are rolled out.

[2016-03-22 18:39] #565 closed

[2016-03-23 23:34] sjorge opened #586 "lx branded zones and inet6 weirdness (only CentOS)"
Images Used:
 - 5917ca96-c888-11e5-8da0-e785a1ad1185
 - b3d02644-d6b2-11e5-bf13-8b034aec4749

I'm using dual stack inet + inet6 at home, using SLAAC (addrconf) for the inet6 configuration.

The following works:
Ubuntu: **dhcp,addrconf** || static4,addrconf + ip_spoofing || dhcp,static6 + ip_spoofing
CentOS: dhcp,addrconf + ip_spoofing || static4,addrconf + ip_spoofing || dhcp,static6 + ip_spoofing

[2016-03-24 09:02] aortmannm commented on #583
ok thats fine but is it too when the cache device is isolated?

[2016-03-24 17:04] sjorge commented on #548
I guess in the interim ```route add -inet6 default IPv6GW``` could be executed by lxinit every boot? That would be nice :)

[2016-03-26 08:23] brian-ewell opened #587 "incorrect man page for dladm"
The man page for dladm describes incorrect parameters for the create-iptun sub-command, under instance base-64-lts 15.4.1, as well as the gz.

Specifically it describes using "-s" and "-d" for "source" and "destination" addresses respectively, whereas the dladm binary is expecting "-a local=&lt;local address&gt;,remote=&lt;remote address&gt;".

I have not checked any of the other sub-commands unde

[2016-03-27 16:48] rmustacc commented on #587
Thanks for filing this. I've filed https://www.illumos.org/issues/6825 with illumos upstream and sent out a fix to [illumos-developer](https://www.listbox.com/member/archive/182179/2016/03/sort/time_rev/page/1/entry/0:373/20160327124653:7FF707EC-F43B-11E5-9504-A80911B29332/). This should make it in there and into a release shortly.

With those open, would it be alright if I closed this?

[2016-03-27 22:46] sjorge opened #588 "vmadm manpage 'allowed_ips' should be updated to reflect the new 'ips' properyt."
[code]

ip property is deprecated in favor of ips property, the  man page should also make reference to the ips property here.

[2016-03-28 06:32] brian-ewell commented on #587
Fine with me!  I just figured someone should know, and didn't want to get lost in the IRC logs.  Thanks!

[2016-03-28 06:32] #587 closed

[2016-03-28 08:53] sjorge opened #589 "mdata_exec_timeout can only be set on creation of zone"
The 'mdata_exec_timeout' property can only be set at creation time. However the user-script parameter can also be set at update time. This script is run every time the zone starts.

I recently update my user-script to be more robust and it now takes longer than the default timeout to run. (I'm OK with that) but I can't set the timeout higher without destroying and recreating the zone. (I worked ar

[2016-03-28 09:39] sjorge commented on #589
manually adding it via zonecfg had no effect, I just recreated the zone and that seemed to work even on reboots the long timeout sticks but the property is not present in vmadm get UUID.

Looks like the actual manifest for the mdata service got the correct value on create.  So set it there for all my existing zones.

[2016-03-28 09:39] #589 closed

[2016-03-29 00:57] Ray-RL opened #590 "HP does not enable all CPUs"
I have a HP ML150 gene with1 x 6core cpu, 16GB ram, 3 x 2.0TH seagate drives, 150Gb Samsung SSD.
The drives are configured as a mirror of 2 drives, 1 x 2TB spare, 1x 250Gb SSD as cache. Zpool status - no errors.
When I boot smartos after provisioning the drives, the HP displays an error that it detects 36 cpus but only one has been enabled, then provides a note on using boot-cpus and eeprom (1M).

[2016-03-29 01:04] rmustacc commented on #590
Hi, this is actually a bug in the ACPI tables on those HP systems that we recently identified. That said, a workaround for that is being reviewed on the [illumos developer mailing list](https://www.listbox.com/member/archive/182179/2016/03/sort/time_rev/page/3/entry/17:400/20160325101421:D88B37CE-F293-11E5-A8BB-26FC7BBAF48C/). You can read more about the problem [here](https://www.illumos.org/issu

[2016-03-29 01:25] Ray-RL commented on #590
Hi Robert

Can’t move forward as no more than one cpu is enabled in a new vm.   After disabling X2APIC, I booted smartos with no cpu errors.  Created a new vm with 4 cpus to be used, only one enabled.

[root@PrimeH /zones/archive]# vmadm info 6f7c3ae7-5f60-6390-df38-ceff09b1c3df cpus
{
  "cpus": [
    {
      "current": true,
      "CPU": 0,
      "pc": 1046616,
      "halted": true,
      "thread

[2016-03-29 01:42] rmustacc commented on #590
On 3/28/16 18:25 , Ray-RL wrote:

Okay, so the X2APIC solved the issues of the *host* not seeing enough
CPUs. Now the question is why doesn't the *VM* see the CPUs, right?

Now, there the problem is likely the fact that we expose each CPU as an
independent core. This is done to be honest about the NUMA
characteristics of the system. However, Windows, particularly the basic
versions like you're usi

[2016-03-29 01:45] Ray-RL commented on #590
Haven’t go to windows yet.   I created a VM to have 4 vcpus (via a vmspec.json).  immediately after creating, I run vmadm info UUID cpus, & i get only one enabled, 4 disabled
regards

Ray

Raymond James | Support

remoteLOGIC

Private Cloud and Technical Support Specialists

AU 1300 552934 |  Intl +61 7 5572 3213 |  FAX +61 7 3102 9164 |  Email: Ray.james@remotelogic.com.au <mailto:Ray.james@remot

[2016-03-29 01:51] rmustacc commented on #590
On 3/28/16 18:45 , Ray-RL wrote:

What's your guest logically reporting? Or are you unable to boot it?
It's not clear which of your problems you're trying to solve at this
time. If you haven't gotten to Windows yet, do you mean that you're not
even booting the Windows VM you mentioned and are working with something
else or that you're still seeing the hanging issue you mentioned in the
first one?

[2016-03-29 02:08] Ray-RL commented on #590
Hi Again

I apologise for being vague.

I’ve disabled the x2apic in the bios of the HP server.   When booting smartos, no cpus errors are reported and psinfo reports 1 physical processor with 6 virtual processors (0-5).

I have a vmspec.json as per below:

{
  "brand": "kvm",
  "vcpus": 4,
  "autoboot": true,
  "ram": 8192,
  "disks": [
    {
      "boot": true,
      "model": "virtio",
      "siz

[2016-03-29 02:23] rmustacc commented on #590
On 3/28/16 19:08 , Ray-RL wrote:

Okay, so it sounds like that's settled.

Why do you believe that? Please go ahead and install your guest. Please
note that the the guest may not have actually enabled the other CPUs
yet. The vmadm info output usually is not an interface that you want to
be using unless you're familiar with the internals of QEMU. If you are
and you have reason to believe that enabl

[2016-03-29 05:26] Ray-RL commented on #590
Hi Robert

Thanks you for your help this morning.  It was greatly appreciated.
regards

Ray

Raymond James | Support

remoteLOGIC

Private Cloud and Technical Support Specialists

AU 1300 552934 |  Intl +61 7 5572 3213 |  FAX +61 7 3102 9164 |  Email: Ray.james@remotelogic.com.au <mailto:Ray.james@remotelogic.com.au>	 <mailto:Ray.james@remotelogic.com.au>

On 29 Mar 2016, at 12:23 PM, Robert Musta

[2016-03-29 16:57] rmustacc commented on #587
Just to let you know this landed in illumos/illumos-gate@b02c665. It should be merged and in the next SmartOS release.

[2016-03-29 17:18] sjorge opened #591 "echo '{ "image_uuid": "UUID" }' | vmadm reprovision UUID makes mdata:execute forget timeout"
When reprovision a vm (for example to swap the image_uuid)
```echo '{ "image_uuid": "UUID" }' | vmadm reprovision UUID```

The value provided in mdata_exec_timeout on vmadm create is forgetten making mdata:execute kill the script prematurely in my case. I think this might be working as intended but it's super annoying.

[2016-03-30 17:20] badboy commented on #319
*bump*

[2016-03-31 09:01] aortmannm opened #592 "kernal and zfs ram usage"
Today a Windows Server KVM becomes very slowly, nearly unusable. I connected to the SmartOS Server where the KVM is running and checked the SmartOS use list.

There I saw with this command the ram usage of the Kernel took 62% of the Ram and the ZFS File Data 0%. All of the IO tasks where quit slowly.

[code]

![less-zfs-ram](https://cloud.githubusercontent.com/assets/3414298/14170744/883e91bc-f72f

[2016-03-31 17:33] sjorge opened #593 "mdata-fetch should not blindly try to remove a file"
[code]

Checking if the file exists before trying to remove it would probably be better.

Opening here, was first opened against mdata-client.

[2016-03-31 20:33] chorrell commented on #593
Looks like this is the relevant line of code:

https://github.com/joyent/smartos-live/blob/2a570b590ec11f9bce0edb09c16a4089b50267ee/overlay/generic/lib/svc/method/mdata-fetch#L421

[2016-03-31 20:36] sjorge commented on #593
Yep looks like it!

``[ -d ${vmadm_routes_file} ] && rm ${vmadm_routes_file}``

Would probably be better

[2016-04-01 18:36] richlowe opened #595 "dhcp nics should put their hostname in /etc/hostname.if"
`dhcpagent` will request the hostname specified in `/etc/hostname.<if>` from the DHCP server.  At present, unfortunately, the `mdata-get` service blows away `/etc/hostname.<if>`, for dhcp NICS, and doesn't create one.  It appears this makes it impossible to request a hostname at all.

The service should probably do something like

[code]

in the dhcp case

[2016-04-01 19:47] richlowe commented on #595
A workaround patching the `/lib/svc/method/mdata-fetch` to do what I described above:

[code]

Worked in the trivial case I cared about.  I'm not sure if there would be downsides in other deployments (presumably, at the least, you'd want to check a hostname was actually set in the metadata).

[2016-04-01 20:46] melloc commented on #595
@richlowe I've filed [OS-5301](https://smartos.org/bugview/OS-5301) for this. In addition to mdata-fetch, the net-physical script will also need to be updated.

[2016-04-01 21:32] richlowe commented on #595
@melloc it seemed like the patch above did enough (as does a service that does basically the same thing, but saves me from having to carry a locally modified mdata-fetch).

What's missing out of `network/physical`?

[2016-04-01 23:16] melloc commented on #595
@richlowe `network/physical` checks to see if that file exists and tries to process it. It will need to skip lines starting with `inet` so that setups using both static addresses and DHCP and have a hostname will be able to work.

[2016-04-05 14:08] noahmehl opened #596 "debian-8 lx dataset - apt-get upgrade broken"
I noticed yesterday that when I provisioned a new machine with this dataset: 445d04f4-cad6-11e5-a1a0-9f6c0ce02707 that upgrading with apt-get has broken in relation to udev.  https://gist.github.com/noahmehl/0a70bb20f292994d6b70a83c36670918

[2016-04-07 04:31] benjamin-bergia commented on #582
I just upgraded my nodes to 20160317 and the X710 NICs do work.
Unfortunately I still have a strange issue. Two of my nodes are using 2x X710 which make a total of 8x 10GbE ports. After booting both nodes only show up with 6 ports. What is even stranger is that the same ports are missing on both nodes: the second and the sixth.

Is there any kind of limitation on the number of NICs or any issue wi

[2016-04-07 05:54] rmustacc commented on #582
On 4/6/16 21:31 , ITChap wrote:

There's no inherent limitation. You'll want to check /var/adm/messages
to see what's there and see if there are any messages about failing to
attach. In addition, you'll want to use prtconf, and verify that we're
actually seeing all 8 PCI functions. Based on that, we can suggest next
steps for things to look at.

However, it's worth noting that there have been seve

[2016-04-07 07:40] benjamin-bergia commented on #582
Hi @rmustacc thank you for your help.

The two first lines of my /var/adm/messages are:
[code]

And this is the prtconf (only the part related to my NICs):
[code]

Would it help if I try to upgrade to the latest release ?

[2016-04-07 08:21] discostur opened #597 "KVM shutdown while rsyncing files"
Hello,

i'm running a KVM Guest on SmartOS (build: 20160219T141818Z) and i try to sync some files via rsync, then suddenly the KVM is shut down by the SmartOS host.

In the /zones/UUID/root/tmp/vm.log i'm getting the following error just before the KVM is stopped:

###
Failed to allocate memory: Resource temporarily unavailable
###

The Core-Dump under /zones/UUID/cores shows me the following:

[c

[2016-04-07 14:51] rmustacc commented on #582
On 4/7/16 0:40 , ITChap wrote:

Okay, well, that's why they failed to attach. So that's helpful. I'll
need to take a look at that code and see what causes that particular
error mode and then we can start digging in from there.

I doubt it. Nothing has changed with respect to that part of the stack.

[2016-04-07 18:56] sjorge opened #598 "It would be nice to 'present' lofs mounts the same way as / under lx."
[code]

Where /data in this case is a lofs mount (added using the filesystem.*.)

[2016-04-07 19:01] sjorge commented on #598
[code]

Closing, it's a nice to have but seems to be more hassle than it's worth.

[2016-04-07 19:01] #598 closed

[2016-04-07 20:25] cmacrae opened #599 "/proc/sys/net/ipv4 doesn't exist under LX branded zones"
I thought this might have been reported already, but I couldn't find any issues relating to this.

When deploying LX branded zones, there is no `/proc/sys/net/ipv4' directory, nor its usual contents, such as `/proc/sys/net/ipv4/ip_forward` when trying to enable IP forwarding with `sysctl -w net.ipv4.ip_forward=1`

Such behaviour can be observed in all the LXZ images available from images.joyent.co

[2016-04-07 20:43] pfmooney commented on #599
Support for IP forwarding and/or the netfilter suite (iptables, etc) is not planned at this time.

Could you provide more detail about your specific use case?

[2016-04-07 20:47] cmacrae commented on #599
Hi @pfmooney - thanks for the swift response.

Sure, so I just ran into this when trying to deploy Pritunl a few weeks back to an LX branded zone on SmartOS. Then, just a short while ago when trying to do the same using a Pritunl Docker container, deployed on SDC.

When the 'Server' component of Pritunl attempts to start, it runs `sysctl -w net.ipv4.ip_forward=1` and fails stating that path does n

[2016-04-07 20:51] jjelinek commented on #599
Although it doesn't address your specific IP forwarding issue, /proc/sys/net/ipv4 is available, along with some of the TCP tunables, as of the integration of OS-4633 on March 31.

[2016-04-08 04:01] benjamin-bergia commented on #582
I see, let me know if you need more data or if you need me to try something.

[2016-04-08 14:34] rmustacc commented on #597
I've uploaded the following to Manta, though I haven't had a chance to run it myself:

[QEMU Binary](https://us-east.manta.joyent.com/rmustacc/public/preview/qemu-preadv/qemu-system-x86_64)
[Raw Platform](https://us-east.manta.joyent.com/rmustacc/public/preview/qemu-preadv/platform-20160407T175227Z.tgz)
[ISO Image](https://us-east.manta.joyent.com/rmustacc/public/preview/qemu-preadv/platform-20160

[2016-04-08 16:23] jclulow commented on #583
My expectation would be that a pool would still import correctly with absent cache devices, but I haven't personally tested it.

[2016-04-11 09:13] discostur commented on #597
Hi Robert,

i just changed the QEMU Binary with the one you uploaded to manta and did a test-run with it:

ll /smartdc/bin/qemu-system-x86_64*
-r-xr-xr-x   1 root     bin      7619600 Apr  8 16:24 /smartdc/bin/qemu-system-x86_64*
-r-xr-xr-x   1 root     bin      7622568 Mär 21 14:23 /smartdc/bin/qemu-system-x86_64_old*

With the new binary we were NOT able to reproduce the error again. Changeing t

[2016-04-12 02:39] mike-pt commented on #290
I'm facing a related issue to what @ssinyagin describes but in my case its the opposite, and by that I mean I'm using Intel AMT SOL and it all goes well from BIOS until GRUB, and "os_console" is set to vga by default and no matter which other I select It always gets me to the "_" prompt and I can't do anything else.

[2016-04-12 06:23] Adel-Magebinary commented on #66
{
  "update_nics": [{
    "mac": "42:cb:6e:1f:52:8a",
    "primary": true
  }]
}

$ vmadm update 3c799590-07af-65a1-bffe-db15a4c519e7 update-nic.json
Successfully updated VM 3c799590-07af-65a1-bffe-db15a4c519e7

$ vmadm get 3c799590-07af-65a1-bffe-db15a4c519e7 | json nics
[
  {
    "interface": "net0",
    "mac": "b2:ed:e2:ef:40:de",
    "vlan_id": 100,
    "nic_tag": "internal",
    "gateway": "1

[2016-04-12 06:37] j4s0nmchr1st0s commented on #66
Call for further support.
On Apr 12, 2016 1:23 AM, "Adel Abula" <notifications@github.com> wrote:

[2016-04-12 20:44] melloc commented on #595
Resolved in 26d614b.

[2016-04-12 20:44] #595 closed

[2016-04-13 00:50] rmustacc commented on #597
Thanks for your assistance. I've put this back in https://github.com/joyent/illumos-kvm-cmd/commit/1291c76246137e08745f11cc56ca7ee1f38f662c.

[2016-04-13 00:51] rmustacc commented on #597
This should be in the next release. I'm going to close this for now, but if there are other follow ups, feel free to open this back up again.

[2016-04-13 00:51] #597 closed

[2016-04-13 14:43] unya commented on #582
Joining in with same issue, just on Dell rNDC card with 2 10G ports. Same /var/adm/messages error
`WARNING: i40e1: failed to configure hardware memory cache: -49#012`

(shortened) Output from prtconf -dD:

[code]

[2016-04-14 00:14] kfr- opened #600 "vmadm start UUID displays "Unable to start UID: cannot create /startvm""
Found that there was no free space
zones/UUID        10.0G      0  10.0G  /zones/UUID

Then found that there were multiple core.qemu-system-x86_.???? in /zones/UUID/cores

Should there be a different error message?

[2016-04-14 15:21] kfr- commented on #600
It seems that newly created VM's with 20151104 have a core mounted to /zones/UUID/cores from zones/cores/UUID

Legacy vm's don't have zones/cores/UUID

[2016-04-16 16:04] riggy2013 opened #602 "Can't start KVM brand in a HP gen8"
I got quite similar issue as

https://github.com/joyent/smartos-live/issues/456

my system is smartos run on a HP gen8 (E3-1220L_v2, 16G) i am trying to create a windows 10 vm on it.

here is my win10_inst.json:

[code]

After starting VM, there is nothing in VNC session. When I tried to stop VM, it prints error msg like:

`genunix: [ID 722105 kern.warning] WARNING: ip_Interface_cleanup: cannot op

[2016-04-17 14:04] riggy2013 commented on #602
I changed title to "can't start KVM" as I tried w/ an official debian image w/ same kind of error.

The debian image is imported from joyent w/ uuid 2f56d126-20d0-11e5-9e5b-5f3ef6688aba.

Here is my debian.json:

[code]

I changed IP to static but the issue is still same. VNC viewer is blank, the error in vm.startvm.log is same.

On the same system, i can create a joyent brand base-64-lts and a lx

[2016-04-17 16:13] richlowe opened #603 "imgadm is unkind to truly "dumb" terminals"
I use emacs `*shell*` buffers a lot.  The progress tracker in `imgadm` is very unkind here.  It seems to use terminal escapes (presumably xterm) to even clear the line, and so never clears the line, leading to very _very_ long lines (which hurt emacs a lot).

It'd be great if this didn't happen, even if it were via not showing a live progress indicator when `$TERM == "dumb"`

[2016-04-17 16:28] riggy2013 commented on #602
Please ignore the issue.

It turns out the issue is in VNCViewer for OSX. I changed to OSX built-in screen sharing or TigerVNC, both are good.

Sorry for bothering.

[2016-04-17 16:28] #602 closed

[2016-04-18 15:12] david415 commented on #596
For the record, I am also experiencing this problem and it's kind of a show stopper not being able to upgrade a debian linux zone.

[2016-04-18 15:41] trentm commented on #596
@chorrell Have you seen this?

[2016-04-18 15:50] trentm commented on #603
@richlowe Hmm. imgadm is using node-progbar for its progress bars, which has this check for `TERM`:
https://github.com/joyent/smartos-live/blob/master/src/img/node_modules/progbar/lib/progbar.js#L44-L52

And then this might be the relevant block that is trying to clear the line before re-drawing the progressbar:
https://github.com/joyent/smartos-live/blob/master/src/img/node_modules/progbar/lib/pr

[2016-04-18 17:51] chorrell commented on #596
No, I don't think I've seen this before.

[2016-04-18 17:52] chorrell commented on #596
Also, it would be good to know what platform version is being used here.

[2016-04-18 17:54] pfmooney commented on #596
@chorrell PI version is not likely to make a huge difference since, in general, we lack the necessary mechanisms to support udev in LX.

[2016-04-18 18:17] noahmehl commented on #596
Are you looking for this? 20160303T211841Z

Also, I don't think that we want udev support, I think we want the apt process not to try and change udev.  I suppose, I could always pin the udev package version?  I guess why isn't this part of the original dataset?

[2016-04-18 18:29] rmustacc commented on #582
So this is coming from the common Intel derived code it appears, indicating an incorrect index somewhere along the line. There are a couple of things that'd be useful to dig into here. The first thing, would be to run prtconf -v /dev/i40e0 which should get us some additional information about the system.

Otherwise, if we could arrange for console access to a system that is exhibiting this, I shou

[2016-04-19 02:37] benjamin-bergia commented on #582
@rmustacc

[code]

Unfortunately I already have some configurations on these servers.
But I can run any command you need.

[2016-04-19 07:18] lparkes opened #604 "IPv4 address or "dhcp" in nics.*.ips is silently mandatory"
I recently found that if a KVM guest NIC doesn't have "dhcp" in its ips attribute, then QEMU is never asked to provision that NIC to the guest. I assume an explicit IPv4 address will work fine, but I never tested that.

While assigning an IPv4 address via DHCP is by the most common way of configuring a guest, it isn't the only way and I should have to put a dummy value of "dhcp" in the ips attribu

[2016-04-19 07:37] lparkes commented on #604
This might be a duplicate of OS-4945. The host in question is running an image of that sort of vintage.

[2016-04-19 07:45] melloc commented on #604
Hi @lparkes ,

Are you running on a platform from before 20151224 but after 20150917? If so, then you're most likely running into OS-4945, and I recommend upgrading to a newer platform.

In addition to that, there is [OS-5312](https://smartos.org/bugview/OS-5312), which I haven't dug into too deeply yet, but it doesn't sound like you're trying to use IPv6 w/o IPv4.

[2016-04-19 07:46] melloc commented on #604
(Well, maybe you are, since you said that you found this using `"ips": [ "addrconf" ]`, in which case that bug is relevant to you.)

[2016-04-19 08:18] lparkes commented on #604
I don't need to run IPv6 without IPv4, although I am open minded enough to try sometimes. I can see that my copy of VM.js predates your fix for OS-4945, so I'm going to close this issue now.

[2016-04-19 08:18] #604 closed

[2016-04-19 15:24] chorrell commented on #596
I'm not what the best approach is. The udev package is a dependency of systemd, so you can't just uninstall it as far as I can tell.

I also tried `apt-mark hold udev` but that doesn't seem to help either.

[2016-04-19 15:48] chorrell commented on #596
Apt pinning the udev package seems to work. I created a file called `udev` in /etc/apt/preferences.d with the following contents:

[code]

Then I did an `apt-get update; apt-get upgrade`

I'm still reading up on apt pinning, but that seems to be a decent work around so far and something I should be able to incorporate into the debian-8 image.

I'm open to feedback though :)

[2016-04-19 15:51] noahmehl commented on #596
@chorrell I'm totally fine with that.  I lack a complete understanding of the LX dataset internals.  Like, how does the original dataset get created, etc...?  Anyways, I think pinning is fine, as it's (udev) is not really used?  Anyways, this gets my support 👍

[2016-04-19 15:54] chorrell commented on #596
OK cool, I'll work on an image update this week so that work around is backed in.

fwiw, this is how I build the lx-brand debian-8 (and debian-7) images: https://github.com/joyent/debian-lx-brand-image-builder

I create an Debian install tarball from a chroot installation in a running Debian KVM instance. I do an `apt-get upgrade` when creating the tarball, but since that's in a chroot it seems to

[2016-04-19 15:58] noahmehl commented on #596
Ah!  I see now.  Then yes, we'll probably just want to pin it before creating the dataset.  I wonder if any of the ubuntu datasets have had this problem, and what they did to solve it?

[2016-04-19 15:59] chorrell commented on #596
RE: ubuntu

This doesn't seem to affect Ubuntu 14.04 from what I can tell, but I'll most likely have to do something similar for 16.04

[2016-04-19 16:06] noahmehl commented on #596
@chorrell you're the maintainer for all of these? I didn't realize....

[2016-04-19 16:06] chorrell commented on #596
Yes!

[2016-04-19 16:07] noahmehl commented on #596
@chorrell well, a general thank you then for all of your work :)

[2016-04-19 18:07] chorrell commented on #596
Thanks! :)

[2016-04-20 19:08] mike-pt commented on #602
For windows 10 were you able to move past the install boot logo?

[2016-04-21 06:33] riggy2013 commented on #602
Hi, Mike,

I have just passed this one yesterday evening. There is a hidden tips in
issue #456 <https://github.com/joyent/smartos-live/issues/456>.

As an aside, on default settings Windows 10 will panic as you enter the

good luck!

Thanks,

David

On Thu, Apr 21, 2016 at 3:08 AM, Mike <notifications@github.com> wrote:

[2016-04-21 10:31] j-trash opened #605 "zlogin no longer working (lx Zones) after Platform Upgrade"
After Upgrading the Platform Image (old one from 02/2016) zlogin for lx is no longer working

SunOS 5.11 joyent_20160418T143348Z i86pc i386 i86pc

zlogin 6b02365a-546c-4577-ae4f-3a6653d0b482
[Connected to zone '6b02365a-546c-4577-ae4f-3a6653d0b482' pts/15]

Cannot make/remove an entry for the specified session

[Connection to zone '6b02365a-546c-4577-ae4f-3a6653d0b482' pts/15 closed]

Images are C

[2016-04-21 10:41] j-trash commented on #605
found this in one of the lx zones logfiles (/var/log/secure)

r 21 10:10:06 qm login: pam_loginuid(remote:session): Cannot open /proc/self/loginuid: Function not implemented
Apr 21 10:10:06 qm login: pam_loginuid(remote:session): set_loginuid failed
Apr 21 10:10:06 qm login: pam_unix(remote:session): session opened for user root by (uid=0)
Apr 21 10:10:06 qm login: Cannot make/remove an entry for

[2016-04-21 10:44] j-trash commented on #605
seems to be fixed, closing this for now

https://github.com/joyent/illumos-joyent/commit/a3ff90a8ed2ff994c15b0dca337baf1814d00b38

[2016-04-21 10:44] #605 closed

[2016-04-21 12:13] mike-pt commented on #602
In my case that was not helping, but it seems it was this specific build of
windows (I was using the media creation tool on my physical win10 box),
however using the latest insider build works just fine.

Thanks

[2016-04-21 13:40] riggy2013 commented on #602
I used win10 iso downloaded from microsoft website.

[2016-04-21 13:50] riggy2013 opened #606 "usbdevice qemu options block vm win10"
I can boot win10 x64 successfully.

Then I tried to add a usb ekey for my system. I got my usb vendor-id and product-id by prtconf. Then i added

qemu_opts="-usb -usbdevice host:<vendor-id>:<product-id>"

in my json and updated the vm.

However when I booted the vm again, the vm couldn't boot with error messages as:

WARNING: ip_interface_cleanup: cannot open /devices/pseudo/udp@0:udp: error 13.

[2016-04-21 14:14] riggy2013 opened #607 "can't ssh root remotely"
I can't ssh root from my mac book.

I followed the instructions in

http://veereshkumarn.blogspot.com/2012/09/how-to-enable-ssh-root-login-in-solaris.html

but still fails. No idea why.

[2016-04-21 14:26] rmustacc commented on #607
On 4/21/16 7:14 , riggy2013 wrote:

There's a bunch of information that'll be useful here to help us
understand what's going on:

Is this the global zone or the non-global zone?

If a non-global zone, what image are you using?

Are there any errors in the authentication log?

Are you trying to use key-based auth or password based auth?

[2016-04-21 15:32] riggy2013 commented on #607
@rmustacc thanks for your prompt response.

I got solved the issue. I wrongly ssh to the iLO ip instead of global zone ip. how silly i am!

[2016-04-21 15:32] #607 closed

[2016-04-21 15:40] chorrell commented on #596
Hi!

I just released the following image to https://images.joyent.com that addresses this:

debian-8 20160421 [257a5a32-0758-11e6-b5f1-5fea6d13e92f](https://images.joyent.com/images/257a5a32-0758-11e6-b5f1-5fea6d13e92f)

https://docs.joyent.com/public-cloud/instances/infrastructure/images/debian#debian-8-20160421

[2016-04-21 15:54] riggy2013 commented on #606
Here is vm.startvm.log:

[code]

vm.log has 1297b and soon be flushed (why?). here is the saved contents:

[code]

I can assure vendor-id and product-id is corrected. here is the info in mac osx:

[code]

[2016-04-22 02:20] chorrell commented on #596
I made a mistake with that image. The udev fix didn't land. Curiously, my testing wasn't able to reproduce the apt-get upgrade issue...

[2016-04-22 12:47] noahmehl commented on #596
So, sometimes, 'apt-get upgrade' is upgrading udev, and sometimes, 'apt-get full-upgrade' was doing it.

[2016-04-22 13:08] chorrell commented on #596
Interesting.

Working on another image that has the udev apt pinning in place

[2016-04-22 18:52] richlowe opened #608 "imgadm should figure out the `image_size` property itself"
When I create images, `image_size` isn't set by default in the image.  This means that the manifest provided to `vmadm` most specify it.

Given that `imgadm` knows the size when I'm creating the image, it should put it into the manifest it generates automatically, without requiring me to remember to do it.

(I'm also, after some conversation with @jclulow, confused why `vmadm` even needs to know t

[2016-04-25 14:25] riggy2013 commented on #606
Anybody help?

Or give me some advice on debug procedure? Tools, logs, etc.

Thanks in advance!

[2016-04-25 16:42] rmustacc commented on #606
On 4/25/16 7:25 , riggy2013 wrote:

Did you actually make that USB device available in the zone?

It sounds like you're using the qemu_extra_opts option to pass these
into the zone? Is that correct? What does the actual JSON for the VM
look like?

Note in general, we don't support USB passthrough, so I suspect you'll
be doing a lot of digging. The vm.log where it mentions "qemu: could not
add USB

[2016-04-26 06:51] elefant90 opened #610 "autossh on centos6-lx-zone"
Running autossh in a centos6-lx-zone on a smartos build from 20160421T151114Z. After a few hours, the autossh process is gone leaving the following core dump:

$ pstack core.autossh.63264
core 'core.autossh.63264' of 63264:	autossh -M 54000 -p5012 -fNC -R 52010:xxx.xxx.xxx.xxx:52010 root@xxx.xxx
 00007fffff4d3ed9 lx_debug (7fffff4e7048) + 29
 00007fffff4df672 lx_build_signal_frame (e, 7fffff05fe08

[2016-04-26 07:14] jclulow commented on #610
@elefant90 If I give you a secure PUT URL, can you upload the core file to us?

[2016-04-26 08:02] elefant90 commented on #610
yes @jclulow , that should be ok

[2016-04-26 14:04] riggy2013 commented on #606
Hi, Robert,

Yes, I use qemu_extra_opts to pass the arguments to the zone. Here is my JSON file:

[code]

The usb device is an e-key from a bank, which is plug-n-play in windows system w/o any driver. However, in smartos/solaris, it is not configured:

[code]

[2016-04-26 14:09] rmustacc commented on #606
On 4/26/16 7:04 , riggy2013 wrote:

Regardless of whether we're configuring it, it appears you're not doing
anything to make it visible to the zone. This means that even if we have
it configured in the kernel (which to be honest, since I'm not sure how
QEMU works with USB devices, I can't say if that's good or bad), it
still wouldn't work because it's not visible in the zone. By default
arbitrary

[2016-04-26 14:43] riggy2013 commented on #606
Hi, Robert,

I'll say you are right. I changed to another USB device, a Toshiba USB key which can be recognized by smartos. The syndrome is the same. It seems the qemu_opts doesn't pass the info to the zone at all. Let me do more study on it.

Thanks,

David

[2016-04-26 14:54] rmustacc commented on #606
On 4/26/16 7:43 , riggy2013 wrote:

The qemu_extra_opts field is just extra arbitrary arguments to QEMU,
nothing more and nothing less. It's basically an escape hatch for doing
unsupported things with QEMU.

You'll likely need to still pass in the device with things like zonecfg
and co.

Robert

[2016-04-26 19:06] tomww commented on #606
I've used for vbox this zoneconfig to pass the devices into the zone:
 <device match="/dev/usb"/>
Beware, there is no locking of any type I believe. Avoid multiple zones access the same usb device.

[2016-04-26 21:45] lporras opened #611 "Segmentation Fault (core dumped) Mongodb 3.2.3"
Hey guys,

I installed mongodb 3.2.3 on a machine that previously had mongodb 3.0.7, and when I try to connect to the mongo server I get this:

[code]
I am sure I do not have another mongodb process running,  I removed mongodb 3.0.7 before installing the new version.

PD: The reason I'm trying to upgrade to mongodb 3.2.3 is because MMS is indicating this: All MongoDB deployments using the WiredTig

[2016-04-27 00:28] jclulow commented on #611
How are you installing the updated MongoDB software?

[2016-04-27 04:44] riggy2013 commented on #606
Hi, Tom,

Will u please give more details on how you do it?

Thanks,

David

On Wed, Apr 27, 2016 at 3:06 AM, tomww <notifications@github.com> wrote:

[2016-04-27 15:52] richlowe opened #612 "smartos installer should validate config more carefully"
When I installed SmartOS, I wished to configure multiple search domains for DNS.  In doing so, using a space separated list as in `/etc/nsswitch.conf`, the installer accepted this configuration but the various SMF services did not.  Notably, `network/physical` failed, and that obviously cascaded.  The installer should validate things more carefully, so the system cannot be configured unbootably.

[2016-04-27 16:02] mdrobnak commented on #612
Indeed, the config file ended up with lines like:
`dhcpd_domain=dhcpd.dev2.dev2.company.net company.net company.com`
and
`dns_domain=dev2.company.net company.net company.com`
Which, as a file sourced in a bash shell script, breaks things.

[2016-04-27 18:23] lporras commented on #611
hey @jclulow via pkgin: ```pkgin install mongodb-3.2.3```

[2016-04-27 18:24] richlowe opened #613 "zonememstat should not try to show GZ information"
`zonememstat` shows output for the global zone, except the information it has for that zone is invalid, so it shows `0 - - -`.  It should probably just not show `global` at all, if it will never have valid info.

[2016-04-28 10:55] derkuci opened #614 "$0 shows /dev/fd/3 instead of the actual script name"
$0 in a bash script gives the name of the script, and some software rely on that to get the folder name of the script.  However, this could be broken within an LX branded zone; /dev/fd/3 is returned when the script belongs to a different user and the "s" bit is set.  For example, as root in a LX zone,
<pre>
# echo -e '#!/bin/bash\nid\necho $0' > test.sh; chmod +x test.sh; ./test.sh
uid=0(root) gid

[2016-04-28 11:47] jjelinek commented on #614
Thanks for reporting this. I filed OS-5369 to track this issue.

[2016-04-28 13:54] riggy2013 commented on #606
I read more on Internet. It seems smarts doesn't support usb passthrough or pci passthrough. And there is no intention to make it either.

Any one can confirm it?

I have to seek other options as freenas + virtualbox

[2016-04-28 14:01] xtreegpt commented on #606
riggy2013 you might want to look at fedora 23 server with BTRFS. BTRFS
while not as mature as ZFS it does have many of the same capabilities.

On Thu, Apr 28, 2016 at 9:54 AM, riggy2013 <notifications@github.com> wrote:

--
Greg

http://www.linkedin.com/in/gregtreantos

[2016-04-28 14:37] rmustacc commented on #606
On 4/28/16 6:54 , riggy2013 wrote:

While we don't do PCI passthrough, USB may work. You'll need to use
zonecfg to add the devices into the zone, which is a manual operation at
this time.

[2016-04-28 14:43] rmustacc commented on #611
@mamash didn't you have an upstream bug against Mongo for something similar?

[2016-04-28 16:48] mamash commented on #611
Yup, https://jira.mongodb.org/browse/SERVER-22927

[2016-04-28 16:49] mamash commented on #611
Not even the official 3.2 binaries work on a standard SunOS kernel, they only work on the i86xpv (Xen) kernel. This is being worked on by upstream.

[2016-04-28 17:57] derkuci opened #615 "[lx branded] BadShmSeg and BadAccess when running X programs via vnc"
I used to be able to run tigervnc-server in lx centos-6 with xfce4 or mate, and via vncviewer I can access the desktop and run X programs like xfce4-terminal.

I just tried that with lx centos-7 (20160405).  I can start the vnc server, can see a desktop via vncviewer, but can't launch any X programs.  Some errors are like:
<pre>
(Thunar:36540): Gdk-ERROR **: The program 'Thunar' received an X Wind

[2016-04-28 19:36] lporras commented on #611
@mamash @jclulow Thanks for the information.  Have you tried installing Mongo 3.0.8 using binaries?

[2016-04-28 19:46] mamash commented on #611
I'm already working on bringing the latest 3.0.11 back into 2015Q4 as an interim workaround.

[2016-04-28 19:59] lporras commented on #611
nice @mamash and thank you again 👍

[2016-04-28 20:44] jclulow commented on #613
It would appear that I can get `zonememstat` to emit something other than `0` on SmartOS if I have recently run `prstat -ZV`.  For example:

[code]

[2016-04-29 08:25] liuzhen opened #616 "Firewall status of KVM / LX is not permanent during"
1. `uname -a` 20160414T011743Z
2. lx image uuid: e91c0e5a-0513-11e6-89ee-e7192f288dcc
3. vm uuid: 63b25669-ef32-63b0-d7c8-b2fa81567fd5
4. fw rule uuid: 00494405-97fa-43fc-b7c5-838d9c74cc60

Steps:

1. create lx zone with above image, see `vmadm-get-0.txt`
2. `fwadm add -g FROM any TO vm 63b25669-ef32-63b0-d7c8-b2fa81567fd5 ALLOW tcp PORT all`
3. `fwadm enable 00494405-97fa-43fc-b7c5-838d9c74cc60`

[2016-04-29 08:55] mamash commented on #611
3.0.11 is in 2015Q4 as of last night. I'll update the 3.2 package as soon as upstream releases a version with a fix for the mozjs segfault.

[2016-04-29 08:55] #611 closed

[2016-04-29 18:04] derkuci commented on #615
nvm, my bad that I didn't install the necessary Xorg packages.

[2016-04-29 18:04] #615 closed

[2016-04-29 21:53] sjorge opened #617 "user-script output in triton.log would be a nice plus"
On native zones ```tail -f `svcs -L mdata:execute```` get you the output of the user script.
There is no way (that I know of) to get the output in LX zones. It would be nice that it ends up in triton.log

[2016-04-30 11:12] derkuci opened #618 "[lx branded] pseudo tty doesn't work for regular users?"
To reproduce the issue,
1. Create an LX branded zone with the 20160422 smartos + 20160405 centos 7 dataset (ddd996ae-fb57-11e5-adfd-0f38d6e6002e)
2. as root of that branded zone, do "yum install -y screen"
3. as root of that branded zone, create a regular user "useradd -g users testuser"
4. as "testuser" run screen

<pre>
[testuser@9843185f-0b33-41a9-b17b-f5db7b23ed8b ~]$ screen
[screen is termina

[2016-04-30 13:23] chorrell commented on #596
The debian-8 20160427 [5ff8fd8a-0ca8-11e6-b8bd-cf9c395fb29d](https://images.joyent.com/images/5ff8fd8a-0ca8-11e6-b8bd-cf9c395fb29d) image was just released that addresses this. It has /etc/apt/preferences.d/udev to pin the udev package.

[2016-04-30 13:26] chorrell commented on #617
Probably worth opening this as an issue over here:

https://github.com/joyent/sdc-vmtools-lx-brand

The relevant script that executes the user-script: https://github.com/joyent/sdc-vmtools-lx-brand/blob/master/src/lib/smartdc/mdata-execute

[2016-04-30 13:28] #617 closed

[2016-04-30 20:57] jclulow commented on #606
@riggy2013 It might help to take a look at _Example 8: Using Pattern Matching_ in [zonecfg(1M)](https://smartos.org/man/1M/zonecfg).  I'm not sure what USB device it is that you're trying to pass through, or how it's represented in the system -- or even how QEMU looks for USB devices to pass through.  Devices in `/dev/usb` might be a good place to look for the right nodes, but I'd also consult the

[2016-05-01 03:34] derkuci commented on #618
"screen" works as intended with LX centos-6 20160405 (kernel 2.6.32) and ubuntu-16.04 20160427 (kernel 4.3.0).  So it has to be centos-7 specific, or something incomplete with that dataset?

[2016-05-02 04:32] riggy2013 commented on #606
I added my device thru zonecfg/device:

[code]

However it still doesn't show up in windows. Here is qemu log:

[code]
Thanks all for helping me.

BTW, the vm start logs: vm.log, vm.log.1 will quickly disappear. How do you guys debug vm boot issue?

[2016-05-03 08:25] xen0l opened #620 "Problems shutting down zone while running snoop from GZ"
I was debugging some networking issue, where I used snoop. I left it running for a while. Few hours later, I restarted the zone, but it failed and switched to "ready" state. This was caused by snoop having network interface open. When trying to start the zone, the following error occured:

<pre>
Unable to start VM 9c0e03ca-a7c1-4dc9-a4f4-ac3766f584c3: Command failed: zone '9c0e03ca-a7c1-4dc9-a4f4-

[2016-05-05 13:22] quanah opened #621 "[lx branded] X unable to start on Ubuntu16 due to missing /dev/tty7"
The Ubuntu16 LX image is missing any tty's other than /dev/tty.  It is impossible to create tty0+ as well:

root@13af5671-c693-e2e7-f17a-f45d9421ac3b:~# mknod /dev/tty0 c 4 0
mknod: /dev/tty0: Operation not permitted

This causes X failures when attempting to start.  If we examine Xorg.0.log, we find:

[ 45530.635] (++) using VT number 7

[ 45530.641] (EE) xf86OpenConsole: Cannot open virtual cons

[2016-05-05 14:12] rmustacc commented on #621
On 5/5/16 6:22 , Quanah Gibson-Mount wrote:

So, X is in general going to have issues because there's no frame buffer
available. Have you tried using Xnest?

[2016-05-05 14:48] quanah commented on #621
Yes.  Generally, I need to access the gnome desktop over VNC, which requires using lightdm at this point due to Ubuntu issues (i.e., tightvnc won't work).  I modified lightdm to start up Xnest rather than X, but it didn't change the fact things still barf about tty7.

In general, I think SmartOS simple isn't designed to handle what I need to do.

[2016-05-05 16:20] quanah commented on #621
Will just close this. ;) My work fixed their VPN so I don't need gnome thank god.

[2016-05-05 16:20] #621 closed

[2016-05-05 16:21] quanah opened #622 "[lx branded] /dev/net/tun is missing and cannot be created"
For routing purposes, it can be desirable to set up traffic tunnels.  However, this is not possible on the Ubuntu16 LX build, as /dev/net/tun does not exist, nor can it be created:

mknod: /dev/net/tun: Operation not permitted

Failed to open tun device: No such file or directory
Set up tun device failed
                                                           [FAILED]

[2016-05-05 16:37] pfmooney commented on #622
Even if tap/tun were present in the zone, LX lacks emulation for the mechanisms needed to plumb up interfaces and manipulate routes.

Side note: Device creation is disallowed inside zones (both LX and native) on SmartOS.

[2016-05-08 17:49] Fr0stoff commented on #611
I success run 3.2.3 on SmartOS, just mongo client core dumped on connect to server,
when I connect from remote client on some Linux everything work as expected.
I think the problem in libstdc++.so.6  which should be provided from here http://downloads.mongodb.org.s3.amazonaws.com/sunos5/mongo-extra-64.tgz
but last time is unavailable.

[2016-05-10 10:39] magnayn opened #623 "Gigantic MemFree occasionally reported in /proc/meminfo [LX]"
Jenkins monitors nodes' free resources by reading /proc/meminfo

Occasionally this reports a gigantic value - e.g:

This causes Jenkins to fail as that's bigger than can fit into a Long (!)

I suspect that isn't really the size of free memory..

[2016-05-11 16:54] richlowe opened #624 "`delegate_dataset` should `vmadm update`able"
It would be nice if `delegate_dataset` were updateable, at least from false --> true (pending a reboot of the zone).  I understand it would require the zone reboot, and that true --> false is likely unsupportable.

@jclulow did not seem to think I was crazy for wanting this.

[2016-05-12 18:47] JustinAzoff opened #625 "vmamd/sysinfo doesn't handle dhcp ip change"
This presents similar to #481, but is related to the admin ip address changing.  I ran into an issue when I changed the DHCP ip address for the global zone after the first boot:
    {"name":"vmadmd","hostname":"srv2","pid":40182,"level":30,"msg":"spawning vnc listener for .. on 192.168.2.188","time":"2016-05-11T23:27:27.682Z","v":0}
    ...
    Uncaught Error: listen EADDRNOTAVAIL

The root cause

[2016-05-13 08:34] stevenwilliamson opened #626 "TUN/TAP Driver is not zone aware"
It seems the TUN/TAP driver in SmartOS https://github.com/joyent/illumos-extra/tree/master/tun is not zone aware.

TUN/TAP PPA's (physical point attachments) assignment is handled via a single array for all zones. For example in `tun.c` the code path that checks to see of a PPA number is available:

[code]

I'm not sure if this is a known limitation or an oversight. But the problems with this are

[2016-05-13 08:55] xen0l commented on #626
@kaizawa might be also interested in this.

[2016-05-13 14:21] rmustacc commented on #626
Thanks for the report. This kind of raises up the fact that this was originally kind of jammed in during the very early days and one thing I think we need to think about is why we have both the driver in -extra and the native one in illumos and how we should handle that. Unfortunately the native one isn't API compatible from an ioctl perspective with the native one, so we may be forced to enhance

[2016-05-13 16:02] dietsche commented on #596
I think I have the same (or similar problem) with the current ubuntu image 675834a0-1267-11e6-81fe-2b1280d24244 released on 2016-05-05. Here's a log of what happens: https://gist.github.com/dietsche/4966450c8cb8c2db9d9d11c94c1bb71b

[2016-05-13 16:08] chorrell commented on #596
I need to look into that. We're apt pinning udev in the Ubuntu 16.04 image but that doesn't seem to help in this case.

[2016-05-13 16:17] chorrell commented on #596
I think removing udev complete is a possible work around

[code]

[2016-05-13 16:25] chorrell commented on #596
Another option is create /usr/sbin/policy-rc.d with:

[code]

Make it executable:

[code]

Do the upgrade, then:

[code]

That seemed to work for https://github.com/Microsoft/BashOnWindows/issues/143 which seems to be a pretty similar issue.

[2016-05-13 16:33] dietsche commented on #596
I went this route, and it seems to be working ok. The zone I tested in is a nginx / letsencrypt ssl reverse proxy with nothing else installed.

    apt-get remove udev -y
    apt-get autoremove

[2016-05-13 16:34] chorrell commented on #596
Hmm, ok. Might be something I need to do in the Ubuntu 16.04 image then.

[2016-05-13 16:37] dietsche commented on #596
Well, just reading the bash thread, more carefully, and it sounds like Ubuntu's recommendation was what you posted. Maybe should consider going with that? I tried the one liner someone posted and it worked for me on a different vm:

    cat > /usr/sbin/policy-rc.d <<EOF
    #!/bin/sh
    exit 101
    EOF
    chmod +x /usr/sbin/policy-rc.d
    dpkg-divert --local --rename --add /sbin/initctl
    ln

[2016-05-16 15:28] chorrell commented on #596
I think the best approach for the 16.04 image would be to just remove the udev package completely as part of the build. I'm going to test that and see how it goes.

[2016-05-16 19:44] chorrell commented on #596
Testing looks good. I'll probably just remove udev from the debian-8 image as well

[2016-05-16 20:17] chorrell commented on #596
Looks like we need to stick with pinning udev in Debian 8. `apt-get remove udev` in Debian 8 also results in removing systemd and some other things. I don't expect that to work out well...

[2016-05-17 12:37] jjelinek commented on #623
I opened OS-5411 to track this.

[2016-05-17 12:40] jjelinek commented on #618
I opened OS-5412 to track this issue.

[2016-05-17 20:56] chorrell commented on #596
Just released a new Ubuntu 16.04 image with the udev package (and services) removed:

https://images.joyent.com/images/4edaa46a-1b83-11e6-b863-3fb0064133ee

[2016-05-17 21:04] ismell commented on #596
does that mean systemd is removed? Was it ever used or was upstart used?

[2016-05-17 21:19] chorrell commented on #596
No, systemd is still present in the 16.04 image I just released. The `apt-get -y remove udev` command didn't try to uninstall systemd, although it did remove console-setup, console-setup-linux and some other related packages.

For some reason in 16.04 that works without removing (or trying to remove systemd). In Debian 8 it will try and remove systemd and friends.

[2016-05-18 04:26] Adel-Magebinary commented on #484
This problem still exists with the latest release when boot CN with pxe

[2016-05-18 15:02] failedrequest commented on #484
Hello
  Can you send me a screen shot of where the installer breaks ? Also can you post the output from zpool status -v

[2016-05-20 06:30] Adel-Magebinary commented on #484
Hello Mark,

I don't have the screenshots anymore for the issue. However, the issue was
setting a wrong size of dump.

I have to manually fix it with *zfs set volsize=HALF_SIZE_OF_SERER_RAM
zones/dump*

Kind Regards,

[+]Adel Abula
 [-] Founder | Solution Architect
 [-] PH:+64-09-9722636 | MOB:+64-212888791
 [-] Email: Adel@magebinary.com | Web: www.MageBinary.co.nz
<http://www.magebinary.co.nz/>

[2016-05-20 18:22] failedrequest commented on #484
Interesting. There appears to be an new issue. This was observed on a dual disk setup running pxe booted platform-20160512T071413Z
[code]

[2016-05-20 18:24] failedrequest commented on #484
Looks like /var/tmp is missing in the live env . ```root@ /]# ls /var/tmp
/var/tmp: No such file or directory``

[2016-05-20 18:36] failedrequest commented on #484
Swapping back to the prior platform version resolved this issue. This is 20160504T205801Z

`` SmartOS Setup
 Storage                                        http://wiki.smartos.org/install
--------------------------------------------------------------------------------
SmartOS will automatically determine what we think is
the best zpool layout from your current disks. You may use this
suggestion, c

[2016-05-20 18:43] failedrequest opened #628 "Current Platform image fails to partition disks in some cases"
Not entirely sure why this is happening, but I have observed that pxe boot'ng 20160512T071413Z on a uninstalled system, will not properly get past the disk layout section of the in /smartdc/lib/smartos_prompt_config.sh . At line 716 this script attempts to create a file in /var/tmp . This fails.
On further inspection is appears that /var/tmp is not part of the live environment.

I tested the same

[2016-05-20 18:44] failedrequest commented on #484
Created https://github.com/joyent/smartos-live/issues/628

[2016-05-20 22:44] failedrequest commented on #628
Additional testing shows something weird. If the target system was installed whit any prior version of smartos , then rebooted with destroy_zpools and then rebooted again to install . The installer works .

[2016-05-23 08:01] FrankYu opened #629 "modload can't load ipmi module if without specifying the full path of ipmi"
# uname -r
5.11

Steps:

1.try to load ipmi module

#modload ipmi
can't load module: No such file or directory

2.try to load ipmi with full path

#modload /usr/kernel/drv/amd64/ipmi

#modinfo |grep ipmi
227 fffffffff80ba000   2c90 273   1  ipmi (ipmi driver)

[2016-05-23 14:28] rmustacc commented on #629
This matches how modload is described to work in [http://illumos.org/man/1m/modload](modload(1M)). Take a look at the manual page to get a better sense of how to invoke it to load the driver.  Note the following from the description:

[code]

However, generally speaking, if you have an ipmi device that we detect, then there's no need to ever run modload yourself.

[2016-05-23 14:28] #629 closed

[2016-05-28 23:01] nathan7 commented on #333
It appears the restrictions have worsened: Not only are `/0` CIDRs disallowed, anything larger than `/8` is disallowed.
Leading to this glorious vmadm config snippet:
[code]

Perhaps we should lift the restriction on maximum subnet size / minimum prefix size, and a nice bonus would be to allow `"nics[0]"` as `gateway` value.

[2016-05-28 23:02] nathan7 commented on #333
The patch for this is pretty trivial, ftr
[code]

[2016-05-30 07:12] riggy2013 opened #630 "Upgrading lx_ubuntu in smartos"
Hi,

How to upgrade my exist lx_ubuntu from 14.04 LTS to 16.04 LTS? just follow Ubuntu upgrade guide?

Sorry, is here the right place to ask support questions on smartos usage?

Thanks,

David

[2016-05-30 14:11] chorrell commented on #630
You should be able to follow the Ubuntu guid but it's not something I would recommend. There are probably some systemd things that are not quite supported in lx-brand yet (depending on which SmartOS platform version you are on). If you upgrade, things could break in unexpected ways and you might not be able to roll back to 14.04.

I would recommend trying out the 16.04 image first. I would also st

[2016-05-30 14:30] riggy2013 commented on #630
@chorrell thanks for response.

it is quite annoying as I have already installed/configured some software packages in this lx_ubuntu 14.04LTS vm. Any better way for the upgrading? What's your recommendation?

Here is my smartos version:

- SmartOS Live Image v0.147+ build: 20160414T011743Z

[2016-05-30 18:27] chorrell commented on #630
I don't have any other recommendations aside from my previous advice about trying out a 16.04 VM and taking advantage of snapshots.

[2016-05-31 03:34] #630 closed

[2016-05-31 03:41] riggy2013 opened #631 "VM planning: one VM or multiple VMs"
Hi,

I am running a homelab w/ smartos, in fact quite new to the virtualization things.

As I am planning on bittorrent download bot, dlna server, samba, nettalk, etc., is it better to separate each in multiple VMs? or install all in one VM if they are sharing one ubuntu box? What are the consideration factors here?

Thanks,

David

[2016-06-01 17:46] rmustacc commented on #625
@melloc you may want to look at this. Though we like have similar issues with vnc and changing IPs across that. We'll have to figure out how to prioritize that.

[2016-06-01 18:41] rmustacc commented on #333
@melloc looks like some of this is related to the IPv6 changes. Can you take a look at this when you have some time?

[2016-06-01 21:17] melloc commented on #625
@JustinAzoff I'd like to solve this by using sysevents as discussed [here](https://github.com/joyent/smartos-live/pull/503#issuecomment-169585712). There are some other things that I need to finish up before I can look into doing it, though.

[2016-06-02 16:03] thetooth commented on #290
+1 Here relating to the console selection. In my case I'm trying to boot the SDC headnode(the iso image for SmartOS itself works fine) on virtualbox since the CoaL setup isn't an option on my particular setup. Just getting into SmartOS and was surprised to see an answer to this issue. Very nice community!

For those that just want to get through the setup and use SSH from there on out, at the GRUB

[2016-06-02 18:02] mike-pt commented on #290
@thetooth yes I was.

thanks for sharing the "text" option instead of "console" wasn't aware of that

[2016-06-03 13:29] allquixotic opened #632 "Please package Apache Guacamole"
Apache Guacamole is an Incubator project (formerly standalone but donated to ASF) licensed under the Apache License 2.0. Its "elevator pitch" is that it enables RDP, VNC, SSH, SFTP, etc. -- basically the most popular graphical and text-based remote desktop / remote administration / file transfer protocols -- to be presented in the web browser.

Guacamole has a JavaScript/HTML/CSS client that is ea

[2016-06-03 13:45] sjorge opened #633 "provisioning fails when a nic without an ip is configured"
This should work IMHO.
I was not configuring one here because I plan use vippy/ucrap to configure it for me. I have added that IP to allowed_ips field.
I can't use dhcp here because I do not want to have an IP on it, it also does not work as workaround because I do not wish it to configure a gateway via dhcp either.

[code]

[2016-06-03 13:46] sjorge commented on #632
guacamole works pretty well actually for the clientless quick access.
I never got to compile on SmartOS with all the bells and whistles though (libwebp en pulse being the problem IIRC)

[2016-06-03 13:50] allquixotic commented on #632
I see pkgsrc has libwebp-0.5 already, so that should not be an issue any longer.

[2016-06-03 14:08] sjorge opened #634 "allowed_ips does not take a /32"
[code]

[code]

[2016-06-03 14:12] sjorge commented on #634
To clarify, if I change it to the IP without the '/32' I get the same message.

[2016-06-03 14:16] melloc commented on #634
@sjorge The issue here is not the /32, I believe, but that you've provided a string instead of an array. I'll look into what needs to be done to give you a better error message here.

[2016-06-03 14:17] sjorge commented on #634
I got the same result passing [ "192.168.0.10/32" ] or [ "192.168.0.10" ]

[2016-06-03 14:18] sjorge commented on #634
I may have botched that, I will check once I get back to a shell.

[2016-06-03 15:29] jperkin commented on #632
I've built a package for testing in a base-64 2016Q1 zone.  To install:

[code]

Please let me know whether it works and if any changes are required, and I'll get this in properly for 2016Q2.  Thanks.

[2016-06-03 17:37] ikozhukhov opened #635 "diskinfo show only one virtio drive"
i have 4 virtio drive in smartos kvm guest.
format show all vdevs, but diskinfo show only one

[2016-06-03 20:13] jclulow commented on #635
Can you please include the output from `diskinfo` and `format` that demonstrates the issue you're seeing?

[2016-06-04 13:56] ikozhukhov commented on #635
[root@test-zfs ~]# format
Searching for disks...done

AVAILABLE DISK SELECTIONS:
       0. c1t0d0 <Virtio-Block Device-0000-20.00GB>
          /pci@0,0/pci1af4,2@4/blkdev@0,0
       1. c2t0d0 <Virtio-Block Device-0000-10.00GB>
          /pci@0,0/pci1af4,2@5/blkdev@0,0
       2. c3t0d0 <Virtio-Block Device-0000-10.00GB>
          /pci@0,0/pci1af4,2@6/blkdev@0,0
       3. c4t0d0 <Virtio-Block Device

[2016-06-04 13:59] ikozhukhov commented on #635
https://paste.ec/paste/TqHvB-nb#N5TbLMb1TML+OhNqG665KxjX0PI2I7mnHOI3CQ6u5U2

better format of output on paste.
as you can see - by diskinfo we have found one latest virtio disk - we are not show first 20GB drive and next.
i think it is problem with devid=0000 for all virtio drives on kvm guest.

[2016-06-05 19:25] RSully opened #637 "diskinfo doesn't always find serial #s"
At least in my configuration, diskinfo does not show serial #s for my disks. However, `iostat` does.

[code]

Mentioned on IRC.

[code]

/cc @rmustacc

[2016-06-05 19:28] rmustacc commented on #448
Hmm. We likely need to look at the procotol snoop to see what's being reported via smb. Might be worth bringing this up on illumos-developer if you can some of the reproduction information.

[2016-06-05 19:30] rmustacc commented on #449
Looks like we probably should just have sharmgr better handle this and deal with the case where there is no GZ bit here.

Is this causing a problem other than the cosmetic issue? e.g. does the surrounding tooling no longer work?

[2016-06-05 20:14] RSully commented on #637
This is both a problem on my server (with SES) and someone else's build without.

[2016-06-05 20:16] RSully opened #638 "varpd in maintenance because /dev/overlay missing"
Brought my system up on 20160317 after being in recovery mode. Noticed varpd was in maintenance mode and upon debugging on IRC with @rmustacc we found that `/dev/overlay` was missing.

[2016-06-06 11:50] sjorge commented on #637
Same on my 2 supermicro boxes, they lack SES though.

There should probably be a graceful fallback to iostat in those cases.

[2016-06-06 13:16] jperkin commented on #632
Sorry, those URLs should be http:// not https://  I've also uploaded a newer guacamole-server package which enables more features and includes SMF.  Let me know if it works ok (it starts up at least for me).

[2016-06-06 13:39] allquixotic commented on #632
Thank you very much, jperkin... I've got it installed and it's up and running, just going to download the client (it's meant to run on a Java application server like Tomcat) and see if the end-to-end connection works... stay tuned... thanks again.

[2016-06-06 18:45] sjorge commented on #632
@jperkin seems to work great, perhaps add a note to the file displayed at install on where to grab the web client.

Which features did you enable? freerdp, ssh, telnet? with webp?

[2016-06-06 19:53] jperkin commented on #632
I enabled everything except for telnet, mostly because libtelnet isn't in pkgsrc yet, but also because I figured nobody would still be using telnet?  I think the only reason to enable it would be to enable the ssh agent support, as that is disabled when libtelnet isn't available for some reason.

I don't use this app so if those are highly desirable then let me know and I'll take a look at packagi

[2016-06-06 19:55] sjorge commented on #632
Yeah I remembered a few libs not being available when I looked at this a while ago. (Now running it on a RPI2 (slow as hell) to work around that).

I was actually using telnet because a few of my dump network devices do telnet but not ssh. *cough tp-link*

[2016-06-07 12:35] jperkin commented on #632
It turns out @mamash already committed a libtelnet package to pkgsrc trunk recently, so I've enabled that feature too.  This is now [committed upstream](http://mail-index.netbsd.org/pkgsrc-changes/2016/06/07/msg141855.html) and will be available in 2016Q2.

[2016-06-07 12:35] #632 closed

[2016-06-08 06:46] sjorge opened #639 "vga property cannot be set to none"
`Invalid VGA type: "none", supported types are: cirrus,std,vmware,qxl,xenfb`

from the qemu help output

[code]

Generally you don't want this set to none and std should be fine.
However I use qemu_opts to pass '-nographics -parallel none -k en-us' to disable graphics, but the vga PCI device still gets created in that case. Adding a 2nd -vga parameter does not seem to work.

Setting it to none via

[2016-06-08 17:28] sjorge commented on #620
I can replicate this, hit it today

[2016-06-08 17:29] #586 closed

[2016-06-08 17:59] melloc commented on #586
@sjorge Is this no longer an issue?

[2016-06-08 19:29] sjorge commented on #586
I was going over old issues, I couldn't reproduce this.

It seems ip_spoofing is always needed for the dhcp/addrconf combo.

[2016-06-10 00:17] RSully opened #641 "autoboot is not set to false when KVM guest shuts down"
I have a KVM zone and when I shutdown (`sudo shutdown -h now`) `vmadm list` properly states the zone is stopped, however autoboot is still true. This seems to go against the notion that autoboot is meant to preserve state upon node reboot. If I manually `vmadm stop` the zone it is properly set to false.

[2016-06-11 17:25] ismell opened #642 "delegate_dataset fails if zones has explicit mountpoint"
If the zones pool has an explicit mountpoint:

    zones  mountpoint            /zones                   local

and then I try and create a zone with delegate_dataset: true I get the following error:

    root@headnode /var/tmp/zones]# vmadm create -f documents-lx.json
    Command failed: could not verify zfs dataset zones/bfff0017-6754-c2f5-de54-a5c580c9430c/data:     mountpoint cannot be inherit

[2016-06-11 22:00] foxycode commented on #585
I would also liked this. I have servers at OVH and they need custom route to reach gate. Is there any other option hw to define custom routes for lx branded zones?

[2016-06-11 22:40] sjorge commented on #585
I use the native route binary and set them from cron. Ubuntu and centos both support @reboot special.

~ sjorge

[2016-06-11 22:42] foxycode commented on #585
@sjorge I tried route from `/native/sbin/route` too, but it gives me error about route file.

[2016-06-11 22:55] sjorge commented on #585
You need to run 'mkdir /etc/inet' once

~ sjorge

[2016-06-12 11:15] foxycode commented on #585
@sjorge It is working, thank you!

[2016-06-13 04:52] riggy2013 opened #643 "IP_MULTICAST_LOOP wrong type in smartos/lx_ubuntu"
Hi,

I tried to install MINIDLNA on an lx_ubuntu 14.04 over smartos. However it reports error on this line:

[code]
the error is: invalid argument.

I changed loopchar to an int type and it passed.

I tried the same code in an ubuntu bare box 14.04 and it passes.

Is it a bug in smartos?

Thanks,

David

[2016-06-13 17:43] pfmooney commented on #643
What version of the platform image are you running (uname -v)?
I believe this was fixed in [OS-5428](https://smartos.org/bugview/OS-5428).

[2016-06-13 23:21] riggy2013 commented on #643
OK. Yes, I am using the old one:

SunOS homelab_dp 5.11 joyent_20160414T011743Z i86pc i386 i86pc

then i'll try the new version.

Thanks,

David

[2016-06-15 13:11] h0lzi opened #644 "update imgadm to use newer docker-registry-client so it can pull from v2?"
would be nice if imgadm could be updated to use newer node-docker-registry-client so that it can pull from v2 docker registry. it probably needs changes in src/img/lib/sources/docker.js too.

Reason:
so people that do "docker" on standalone smartos (e.g. http://www.cruwe.de/2016/01/27/using-docker-on-smartos-hypervisors.html) can have v2 registry pulls.

[2016-06-15 18:59] rostchri opened #645 "imgadm does not work with latest docker-repository version (tested 0.9.1)"
This is because of missing created-tag in some json-results (in case of parent-images).
A quickfix is to change /usr/img/node_modules/imgmanifest/lib/imgmanifest.js:
from
published_at: new Date(imgJson.created).toISOString(),
to (just predefine the created-value with a valid timestamp in case it is undefined)
published_at: new Date(imgJson.created || '2016-06-14T11:57:31.603442385Z').toISOString()

[2016-06-15 19:36] pfmooney commented on #643
Please let me know if the issue is still present on the updated PI.

[2016-06-15 19:36] #643 closed

[2016-06-16 07:57] h0lzi opened #646 "add pvscsi and vmxnet3 like OS-5466"
I think they should be added like OS-5466 to have them working.
At least it did not work for me when I created a vm with pvsci and vmxnet3.

[2016-06-16 15:01] rmustacc commented on #646
Thanks for following up on this. Between @jjelinek and I, we'll get this taken care of.

[2016-06-16 18:36] jjelinek commented on #646
Fixed in commit 876ba3d.

[2016-06-16 18:36] #646 closed

[2016-06-17 09:18] benjamin-bergia commented on #582
@rmustacc has there been any progress ? Should I upgrade my CNs ?

[2016-06-17 14:27] matthiasg opened #647 "SSE4 / AVX not reported in cpuinfo of lx branded zone"
I am running an **lx** branded zone on **20160512T071413Z** on an [Intel i7-4770][cpu]. Sadly the lx zone reports no **SSE4.1** support even though the CPU has it. I require SSE4.1 to run https://github.com/yandex/ClickHouse/.

I would assume its just not reported, but I would like to know whether this is supposed to work.

[cpu]: http://ark.intel.com/products/75122/Intel-Core-i7-4770-Processor-8M

[2016-06-17 14:38] rmustacc commented on #582
On 6/17/16 2:18 , ITChap wrote:

There have been some bug fixes that were slated for the next release;
however, given that we don't have the ability to debug your systems,
it's hard to know for certain what has happened or if it's been fixed.

[2016-06-17 14:39] jjelinek commented on #647
It looks like we're simply missing some of the newer feature bits in our lx procfs. I filed OS-5472 for this.

Thanks for reporting it,
Jerry

[2016-06-17 14:40] rmustacc commented on #647
On 6/17/16 7:27 , matthiasg wrote:

Yes, they work presuming the system supports it; however, it appears
that we're missing updates for /proc/cpuinfo flags for newer bits. You
can always confirm with /native/usr/bin/isainfo -x.